<!-- 前台首页模板文件  -->

<extend name="Layout:layout-user-center"/>

<block name="title">联合登录</block>
<block name="keywords">这里是关键字</block>
<block name="description">这里是描述</block>
<block name="css">
    <link rel="stylesheet" href="__PUBLIC__/Home/Index/css/index.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/Index/css/logo-header.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/Index/css/register.css">
</block>

<block name="user-nav">企业用户绑定</block>
<!-- 主要内容 -->
<block name="main">
    <div class="jl-reg-wrap">
        <div class="jl-unite-top"></div>
        <div class="jl-reg-msg">
            <div class="jl-unite-item">
                <div class="jl-unite-tit" >
                    <img src="{$avator}" alt="">
                </div>
                <span class="jl-unite-acc">没有账号，<a href="{:U('Home/Account/create',['type'=>2])}" class="jl-unite-bind"> 完善账户> </a> </span>
            </div>
            <div class="jl-reg-c">
                <form method="post">
                    <div class="jl-c-de">
                        <label class="jl-c-left">用户名</label>
                        <input type="text" class="jl-c-long js-next-input" name="user_name" id="js-c-user-name" placeholder="请输入用户名">
                        <div class="jl-check-txt">
                            <i class="jl-ale-bg"></i>
                            <span class="jl-ale-font"></span>
                        </div>
                    </div>
                    <div class="jl-c-de">
                        <label class="jl-c-left">密码</label>
                        <input type="password" class="jl-c-long js-next-input js-submit-input" name="user_pass" id="js-c-paw" placeholder="请输入密码">
                        <div class="jl-check-txt">
                            <i class="jl-ale-bg"></i>
                            <span class="jl-ale-font"></span>
                        </div>
                    </div>
                    <input type="button" id="js-login-submit" class="jl-reg-put jl-agree-mar js-c-register-submit jl-unite-btn" value="确 定">
                </form>
                <div class="jl-reg-switch">
                    <a href="{:U('Home/Account/create',['type'=>3])}">
                        <b class="jl-bg-r jl-bg-c"></b>
                        <span>个人用户，绑定></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="js">
    <script>
        require(['__PUBLIC__/Home/Public/js/require-config.js'], function () {
            require(['jquery','jl-modal'], function ($,modal) {
                require(['Account/js/common_register']);
//                var $user_input = $('#jl-reg-name');
//                var $password = $('#jl-reg-set');


//                //公用输入提示语句的方法
//                function inputTips(text, type, input) {
//                    var $tips_box = $(input).parent().siblings();
//                    $tips_box.show();
//                    if (type !== 1) {
//                        $tips_box.addClass('jl-reg-nor-active');
//                    }
//                    else {
//                        $tips_box.removeClass('jl-reg-nor-active');
//                    }
//                    $tips_box.children('.jl-nor-text').html(text);
//                }
//
//
//                //用户名
//                //var res_nor_user =/^(?!\d)(?!_)(?!.*?_$)(?!.*?\-$)[a-zA-Z0-9_\u4e00-\u9fa5]{4,20}$/;
//                var nor_user = function (input) {
//                    if ($(input).val() === '') {
//                        inputTips('用户名不能为空', 2, input);
//                        return true;
//                    }
//                    else {
//                        $(input).parent().siblings().hide();
//                        return false;
//                    }
//                };
//                $user_input.focus(function () {
//                    inputTips('支持中文、字母、数字、“-”“_”的组合，4-20个字符', 1, this);
//                    $(this).off('focus');
//                });
//                $user_input.keydown(function () {
//                    inputTips('支持中文、字母、数字、“-”“_”的组合，4-20个字符', 1, this);
//                });
//
//                $user_input.blur(function () {
//                    var user_name = $user_input.val();
//                    if( user_name ){
//                        $.post(
//                            "{:U('Home/Account/ajaxCheckUserName')}",
//                            {user_name: user_name},
//                            function (res) {
//                                if (res.status === 1000) {
//                                    $user_input.parent().siblings().hide();
//                                }else if( res.status == 0 ){
//                                    inputTips('用户不存在', 2, $user_input);
//                                }else{
//                                    inputTips(res.content, 2, $user_input);
//                                }
//                            })
//                    }
//                });
//
//
//                //设置密码
//                var reg_password = /^[a-zA-Z]+[\w]{5,20}/;
//                var norSetPaw = function (input) {
//                    if ($(input).val() === '') {
//                        inputTips('密码不能为空', 2, input);
//                        return true;
//                    }
//                    else if (!reg_password.test($(input).val())) {
//                        inputTips('密码至少6位,字母数字组成,必须以字母开头', 2, input);
//                        return true
//                    }
//                    else {
//                        $(input).parent().siblings().hide();
//                        return false;
//                    }
//                };
//                $password.focus(function () {
//                    inputTips('密码至少6位,字母数字组成,必须以字母开头', 1, this);
//                    $(this).off('focus');
//                });
//                $password.keydown(function () {
//                    inputTips('密码至少6位,字母数字组成,必须以字母开头', 1, this);
//                });
//                $password.blur(function () {
//                    norSetPaw(this);
//                });
//
//                //最后一个文本框按回车键后
//
//                $('.js-submit-input').on('keydown',function (e) {
//                    var e = e||event;
//                    if($('#jl-checkbox').hasClass('jl-check-active')){
//                        if(e.keyCode===13){
//                            $('.js-submit-input').trigger('click');
//                            var data = {
//                                user_name: $user_input.val().trim(),
//                                user_pass: $password.val()
//                            };
//                            $.post("{:U('Home/Account/doCreate',['act'=>'bind'])}",data,function (res) {
//                                if(res.status===0){
//                                    modal.confirm({
//                                        title:'绑定成功!',
//                                        confirm: function(){
//                                            location.href='{:U("Home/Default/index")}';
//                                        }
//                                    })
//                                }else{
//                                    modal.alert({
//                                        title:res.content
//                                    })
//                                }
//                            });
//                        }
//                    }
//                });
//                $('#js-enroll').click(function () {
//                    if (nor_user($user_input[0])) {
//                        $user_input.focus();
//                        inputTips('请输入用户名', 2, $user_input);
//                        return false;
//                    }
//                    if (norSetPaw($password[0])) {
//                        $password.focus();
//                        inputTips('请输入密码', 2, $password);
//                        return false;
//                    }
//                    var data = {
//                        user_name: $user_input.val().trim(),
//                        user_pass: $password.val(),
//                    };
//                    $.post("{:U('Home/Account/doCreate', ['act'=>'bind'])}", data, function (res) {
//                        if(res.status===0){
//                            modal.confirm({
//                                title:'绑定成功!',
//                                confirm: function(){
//                                    location.href='{:U("Home/Default/index")}';
//                                }
//                            })
//                        }else{
//                            modal.alert({
//                                title:res.content
//                            })
//                        }
//                    });
//                })

                var $user = $('#js-c-user-name');
                var $paw =$('#js-c-paw');

                //公用输入提示语句的方法
                var uniteTips = function (text,type,input) {
                    var $input_tips =$(input).siblings('.jl-check-txt');
                    $input_tips.show();
                    if(type!==1){
                        $input_tips.addClass('jl-reg-nor-active');
                    }
                    else {
                        $input_tips.removeClass('jl-reg-nor-active');
                    }
                    $input_tips.children('.jl-ale-font').html(text);
                };

                $user.blur(function () {
                    if($user.val()===''){
                        uniteTips('用户名不能为空',2,$user);
                    }
                    else {
                        $user.siblings('.jl-check-txt').hide();
                    }
                });


                $paw.blur(function () {
                    if($paw.val()===''){
                        uniteTips('密码不能为空',2,$paw);
                    }
                    else {
                        $paw.siblings('.jl-check-txt').hide();
                    }
                });


//                $('.js-submit-input').on('keydown',function (e) {
//                    if(e.keyCode===13){
//                        ('#js-login-submit').trigger('click');
//                    }
//                });


                $('#js-login-submit').on('click',function () {
                    var user = $.trim($user.val());
                    var password = $paw.val();
                    if(user===''&&password===''){
                        uniteTips('用户名不能为空',2,$user);
                        uniteTips('密码不能为空',2,$paw);
                    }
                    else {
                        var data = {
                            user_name:user,
                            user_pass:password
                        };
                        $.post("{:U('Home/Account/doCreate',['act'=>'bd'])}",data, function (res) {

                            if(res.status===0){
                                location.href='{:U("Home/toSuccess",["url"=>"Home-Default-index","msg"=>"账号绑定成功!","time"=>4])}';
                            }
                            else {
                                uniteTips('用户名或密码错误',2,$password);
                            }
                        })
                    }
                });

            })
        })
    </script>
</block>
