<!-- 前台搜索模板文件  -->

<extend name="Layout:layout-center" />

<block name="title">修改密码</block>
<block name="keywords">这里是关键字</block>
<block name="description">这里是描述</block>
<block name="css">
    <link rel="stylesheet" href="__PUBLIC__/Home/Public/css/cart-nav.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/User/css/center.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/User/css/settingUser.css">
</block>
<block name="nav-title">
    <if condition="$_SESSION['userType'] eq 1">
        个人中心<else /> 企业中心
    </if>
</block>
<block name="main">

    <form method="post" id="changePass">
        <div class="jl-per-information jl-cle">
            <div class="jl-per-cell jl-cle jl-item-top">
                <div class="jl-per-left jl-change-left">
                    <label for class="jl-per-label">当前登录密码：</label>
                </div>
                <div class="jl-per-right">
                    <input type="password" name="js-old_paw"  placeholder="请输入当前登录密码" class="jl-per-input js-next-input" id="js-old-paw">
                    <i class="jl-add-import"></i>
                    <div class="jl-bind-tips jl-acc-none">
                        <i class="jl-bind-bg"></i>
                        <span class="jl-bind-text">请输入正确的密码</span>
                    </div>
                </div>
            </div>
            <div class="jl-per-cell jl-cle">
                <div class="jl-per-left jl-change-left">
                    <label for class="jl-per-label">新的登录密码：</label>
                </div>
                <div class="jl-per-right">
                    <input type="password" name="js-new_paw" class="jl-per-input js-next-input" id="js-new-paw" placeholder="请输入新的登录密码">
                    <i class="jl-add-import"></i>
                    <div class="jl-bind-tips jl-acc-none">
                        <i class="jl-bind-bg"></i>
                        <span class="jl-bind-text"></span>
                    </div>
                </div>
            </div>
            <div class="jl-per-cell jl-cle">
                <div class="jl-per-left jl-change-left">
                    <label for class="jl-per-label">确认新的登录密码：</label>
                </div>
                <div class="jl-per-right">
                    <div class="jl-add-delivery">
                        <input type="password" name="js-re_paw" placeholder="请输入新的登陆密码" id="js-reg-paw" class="jl-per-input js-next-input js-submit-input">
                        <i class="jl-add-import"></i>
                        <div class="jl-bind-tips jl-acc-none">
                            <i class="jl-bind-bg"></i>
                            <span class="jl-bind-text"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button type="button" id="submit" class="jl-per-submit jl-save-submit">保存</button>
    </form>

</block>

<block name="js">
    <script>
        require(['__PUBLIC__/Home/Public/js/require-config.js'], function () {
            require(['jquery','jl-modal'], function ($,modal) {
                modal.option({
                    left:-77
                });
                require(['Account/js/common_register']);
                var $old_paw =  $('#js-old-paw');
                var $new_paw =  $('#js-new-paw');
                var $re_paw = $('#js-reg-paw');
                
                //  判断input
                function isPass(input,text,data) {
                    var change_tips=$(input).siblings('.jl-bind-tips');
                    if($(input).val()===''){
                        change_tips.removeClass('jl-acc-none');
                        change_tips.find('.jl-bind-text').html(text+'不能为空');
                    }
                    else {
                        $.post(
                            "{:U('Home/User/checkPass')}",
                            data,
                            function (res) {
                                if(res.status===0){
                                    change_tips.addClass('jl-acc-none');
                                }
                                else {
                                    change_tips.removeClass('jl-acc-none');
                                    change_tips.find('.jl-bind-text').html(text+'错误');
                                }
                            }
                        )
                    }
                }


                $old_paw.on('blur',function () {
                    isPass($old_paw,'当前密码',{user_pass:$old_paw.val()});
                });

//                $old_paw.on('blur',function(){
//                    var value=$(this).val();
//                    $.ajax({
//                        type:'POST',
//                        url:"{:U('Home/User/checkPass')}",
//                        data:{user_pass:value},
//                        success:function(res){
//                        }
//                    })
//                })


                //新的密码
                function isEmpty(input,text){
                    var change_tips=$(input).siblings('.jl-bind-tips');
                    change_tips.removeClass('jl-acc-none');
                    change_tips.find('.jl-bind-text').html(text);
                }
                var reg_password =/^[a-zA-Z]+[\w]{5,20}/;
                $new_paw.on('blur',function () {
                    if($new_paw.val()===''){
                        isEmpty($new_paw,'密码不能为空');
                    }
                    else {
                        if(!reg_password.test($new_paw.val())){
                            isEmpty($new_paw,'密码格式错误');
                        }
                        else {
                            var new_paw = $new_paw.val();
                            $.post(
                                "{:U('Home/User/checkPass')}",
                                {user_pass:new_paw},
                                function (res) {
                                    if(res.status===0){
                                        isEmpty($new_paw,'新密码不能为原来密码相同');
                                    }
                                    else {
                                        $new_paw.siblings('.jl-bind-tips').addClass('jl-acc-none');
                                    }
                                }
                            )
                        }
                    }
                });

                //确认新密码
                $re_paw.on('blur',function () {
                    if($re_paw.val()===''){
                       isEmpty($re_paw,'密码不能为空');
                   }
                   //判断他们两个的值是否相同，相同才行，否则错误
                   else if($re_paw.val()!==$new_paw.val()){
                       isEmpty($re_paw,'两次密码不相同');
                    }
                    else {
                        $re_paw.siblings('.jl-bind-tips').addClass('jl-acc-none');
                    }
                });



                $('#submit').on('click', function(){
                    var data = {
                        old_pass:$old_paw.val(),
                        new_pass:$new_paw.val(),
                        re_pass:$re_paw.val()
                    };
                    $.post("{:U('Home/User/changePassword')}",data,function(res){
                        if(res.status===0){
                           // window.location.href="{:U('Home/Account/login')}";
                           // 如果是修改成功的话，
                            modal.alert({
                                type:'fade',
                                title: '密码修改成功!',
                                brief:'点击确定重新登录!',
                                top:100,
                                hiddenCloseIcon:true,
                                confirm: function () {
                                    location.href="{:U('Home/Account/login')}";
                                }
                            })
                        }
                        else {
                            modal.confirm({
                                title:'密码修改失败',
                                brief:res.content
                            })
                        }
                    });
                });
            });
        })
    </script>
</block>
