<script>
    var _PUBLIC = '__PUBLIC__';
    var VERSION_NUM = '<?php print_r(C("VERSION_NUM")); ?>';
</script>
<!--[if lt IE 9]>
<script src="__PUBLIC__/Common/module/html5shiv/r29/html5.min.js"></script>
<script src="__PUBLIC__/Common/module/respondjs/1.4.2/respond.min.js"></script>
<script src="__PUBLIC__/Common/toolkit/polyfill.js"></script>
<script src="__PUBLIC__/Common/module/jquery/1.12.1_ui/jquery-ui.js"></script>
<script src="__PUBLIC__/Admin/Public/js/first-letter-search.js"></script>
<![endif]-->
<script src="__PUBLIC__/Common/module/jquery/1.12.4/jquery.min.js"></script>
<script src="__PUBLIC__/Common/module/layui/2.2.5/layui.js"></script>
<script src="__PUBLIC__/Admin/Public/js/layui-config.js"></script>
<script src="__PUBLIC__/Common/module/jquery/1.12.1_ui/jquery-ui.js"></script>
<script src="__PUBLIC__/Admin/Public/js/first-letter-search.js"></script>
<block name="js"></block>
</body>
</html>