<!-- 公共底部模板 -->
<div class="jl-foot">
    <p class="jl-address">
        <span>地址：深圳市南山区高新南一道013号赋安科技大厦A栋3层</span>
        <b>电话：0755-8283 3817&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;商务：0755-8275 4711</b>
        <span>传真：0755-82724870</span>
    </p>
    <p class="jl-copy">Copyright © 1998 - 2018  All Rights Reserved 粤ICP备10077702号</p>
    <ul class="jl-pay jl-cle">
        <li><a target="_blank" href="//www.alipay.com/" class="jl-icon01"></a></li>
        <li><a target="_blank" href="//www.tenpay.com/" class="jl-icon02"></a></li>
        <li><a target="_blank" href="//www.unionpay.com/" class="jl-icon03"></a></li>
        <li><a target="_blank" href="//www.ups.com/cn" class="jl-icon06"></a></li>
        <li><a target="_blank" href="//www.fedex.com/cn/" class="jl-icon07"></a></li>
        <li><a target="_blank" href="//www.sf-express.com/" class="jl-icon08"></a></li>
    </ul>
    <script>
        //百度推广
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?0026f1675998bfa8cfa7d986012964f5";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>

</div>