<!-- 搜索悬浮框 -->
<div class="js-search-nav">
    <div class="jl-main">
        <a href="#" class="jl-logo-float"></a>
        <div class="jl-search">
            <input type="text" class="jl-key-float" placeholder="请输入搜索关键字">
            <div class="jl-submit-float">
                <b></b>
            </div>
            <div class="js-search-float">
                <ul>
                    <li><p><span>C</span>MF-NSMF020-2</p><s>约1455333个商品</s></li>
                    <li><p><span>C</span>MF-NSMF020-2</p><s>约1455333个商品</s></li>
                    <li><p><span>C</span>MF-NSMF020-2</p><s>约1455333个商品</s></li>
                    <li><p><span>C</span>MF-NSMF020-2</p><s>约1455333个商品</s></li>
                </ul>
                <span>关闭</span>
            </div>
        </div>
    </div>
    <div class="line"></div>
</div>
<!-- 搜索 -->
<div class="jl-container">
    <div id="jl-search">
        <div class="jl-search-left">
            <a href="{:U('Home/Default/index')}" class="jl-logo"></a>
            <div class="jl-all">
                <span  class="jl-all-title">
                    商品分类<span></span>
                </span>
                <div class="jl-sidebar">
                    <ul>
                        <volist name="cate" id="c">
                            <li>
                                <a href="javascript:;" data-id="{$c.id}">{$c.cate_name}</a>
                                <div class="jl-popup">
                                    <div class="jl-content">
                                        <ul>
                                            <volist name="c.children" id="s">
                                                <li>
                                                    <a href="javascript:;" data-id="{$s.id}">{$s.cate_name}</a>
                                                    <ul class="jl-cate-level3">
                                                        <volist name="s.children" id="o">
                                                            <li>
                                                                <a href="javascript:;" data-id="{$o.id}">{$o.cate_name}</a>
                                                            </li>
                                                        </volist>
                                                    </ul>
                                                </li>
                                            </volist>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </volist>
                    </ul>
                </div>
            </div>
        </div>
        <div class="jl-search-content">
            <ul class="jl-search-type">

                <li data-type="2" class="{$request['search_type']=='hot_pSign' ? 'jl-active':(! $request['search_type'] ? 'jl-active':'')}">型号</li>
                <li data-type="1" class="{$request['search_type'] =='hot_brand'? 'jl-active':''}">品牌</li>
                <li data-type="3" class="{$request['search_type']=='hot_function' ? 'jl-active':''}">功能</li>
            </ul>
            <div class="jl-search">
                <input name="search" class="jl-key-word" type="text" placeholder="请输入搜索关键字" value="{$request['search']}" autocomplete="off">
                <button class="jl-submit-search">
                    <b></b>
                </button>
                <div class="js-search-float">
                    <ul>
                        <li><p><span>C</span>MF-NSMF020-2</p><s>约1455333个商品</s></li>
                        <li><p><span>C</span>MF-NSMF020-2</p><s>约1455333个商品</s></li>
                        <li><p><span>C</span>MF-NSMF020-2</p><s>约1455333个商品</s></li>
                        <li><p><span>C</span>MF-NSMF020-2</p><s>约1455333个商品</s></li>
                    </ul>
                    <span><a href="#">关闭</a></span>
                </div>
            </div>
            <ul class="jl-hot-search jl-cle" style="max-height:50px;overflow: hidden">
                <li>热门搜索：</li>
                <!--<?php  print_r($hotList);
  ?>-->
                <!--<?php  $len = count($hotList['hot_brand']);  ?>-->
                <foreach name="hotList" item="vo" key="K">
                    <ul class="jl-hot-search-li-ul {$K}" style="display:none">
                        <foreach name="vo" item="voChild" >
                            <li data-id="{$voChild.id}"><a href="{:U('product/search')}?search={$voChild.show_name}&search_type={$K}">{$voChild.show_name}</a></li>
                            <if condition="$key eq ($len-1)">
                                <else />
                                <li>|</li>
                            </if>
                        </foreach>
                    </ul>
                </foreach>
            </ul>
            <ul class="jl-nav" style="width:850px">
                <empty name="isIndex"><li><else /><li class="js-cur"></empty><a href="{:U('Home/Default/index')}">网站首页</a></li>
                <empty name="isBrand"><li><else /><li class="js-cur"></empty><a href="{:U('Home/Default/brand')}">品牌目录</a></li>
                <empty name="isAppMarket"><li><else /><li class="js-cur"></empty><a href="{:U('Home/Default/appMarket')}">应用市场</a></li>
                <empty name="isPlanCenter"><li><else /><li class="js-cur"></empty><a href="{:U('Home/Solution/provider')}">方案中心</a></li>
                <empty name="isBom"><li><else /><li class="js-cur"></empty><a href="{:U('Home/Default/bomPrice?action=search')}">BOM报价</a></li>
                <empty name="isfreeSample"><li><else /><li class="js-cur"></empty><a href="{:U('Home/Default/sampleApply')}">免费样品申请</a></li>
                <empty name="isPointsBom"><li><else /><li class="js-cur"></empty><a href="{:U('Home/Default/pointsMall')}">积分商城</a></li>
            </ul>
        </div>
        <a href="{:U('Home/Basket/basketDetail')}" class="js-search-cart">
            <b></b>
            我的购物车
            <i class="js-cart-num">0</i>
        </a>
    </div>
</div>