<!-- 前台搜索模板文件  -->

<extend name="Layout:layout" />

<block name="title">系统错误</block>
<block name="keywords">这里是关键字</block>
<block name="description">这里是描述</block>
<block name="css">
    <link rel="stylesheet" href="__PUBLIC__/Home/Public/css/search-nav.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/Index/css/release.css">
</block>
<!-- 主要内容 -->
<block name="main">

    <div id="jl-purchase-fault">
        <img src="__PUBLIC__/Home/Public/img/no-product.png" alt="">
        <p class="jl-fault">对不起哦，系统繁忙，请稍后重试！</p>
        <a href="{:U('Home/Default/release')}" class="jl-browse">再试一次</a>
    </div>


    <div class="jl-line"></div>

</block>

<block name="js">

</block>
