<extend name="Layout/layout-open" />
    <block name="content">
        <div class="layui-fluid">
            <div class="info-center">
                <div class="main left">
                    <div class="main-left width-100" style="margin-top:0px">
                        <form enctype="multipart/form-data" id="add" class="layui-form">
                            <table class="content" border="0" cellspacing="0" cellpadding="0">
                                <tbody>
                                <tr>
                                    <td class="left-txt"><span class="c-red">*</span>品牌名称：</td>
                                    <td><input class="input-text" name="brand_name" type="text"></td>
                                </tr>
                                <tr>
                                    <td class="left-txt"><span class="c-red">*</span>品牌logo：</td>
                                    <td><input class="input-text" name="logo" type="logo" ></td>
                                </tr>
                                <tr>
                                    <td class="left-txt"><span class="c-red">*</span>品牌链接：</td>
                                    <td><input class="input-text" name="href" type="text"></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>
                                        <span><button class="btn btn-mystyle btn-sm"  type="submit">添加</button></span>
                                        <span><button class="btn btn-mystyle btn-sm" type="reset" >取消</button></span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </block>
<block name="js">
    <script>
        layui.use(['layer'], function(){
            var layer = layui.layer;
            $('form#add').on('submit',function(){
                var data = $('form#add').serialize();
                var index = layer.load();
                $.ajax({
                    url:'{:U("Admin/Brand/add")}',
                    type:'post',
                    data: data,
                    success:function(res){
                        if( res.status == 0000 ){
                            layer.close(index);
                            layer.msg('添加成功', {icon:6, time:1000},function(){
                                var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                                //parent.layer.close(index); //再执行关闭
                            });
                        }else{
                            layer.close(index);
                            layer.msg(res.content, {icon:2, time:2000},function(){
                                var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                                //parent.layer.close(index); //再执行关闭
                            });
                        }
                    }
                });
                return false;
            });
        });

    </script>
</block>