<extend name="Layout:layout-tab"/>
<block name="css">
    <link rel="stylesheet" href="__PUBLIC__/Admin/Public/css/select-modal.css"/>
    <link rel="stylesheet" href="__PUBLIC__/Admin/Public/css/data-table.css"/>
    <link rel="stylesheet" href="__PUBLIC__/Admin/Public/css/list-query.css"/>
    <style>
        .jl-fp-form{  line-height: 36px;  }
        .layui-table-view .jl-order-list-container td,
        .layui-table-view .jl-order-list-container th{
            padding: 9px 15px;
        }
    </style>
</block>
<block name="content">
    <div>
        <blockquote class="jl-title layui-elem-quote">
            <span class="layui-breadcrumb">
                <a class="jl-main-title" href="javascript:">礼品管理</a>
            </span>
        </blockquote>
        <blockquote class="layui-elem-quote" style="overflow: hidden">
            <!--<span>
                   <span style="padding: 9px 15px">业务员</span>
                   <input value="{$request.sys_uid}" type="hidden" name="sys_uid" placeholder="请选择业务员" class="layui-input jl-select-user" style="display: inline-block;width: auto">
                   <input value="{$request.sys_uid_name}" type="text" name="sys_uid_name" placeholder="请选择业务员" class="layui-input jl-select-user layui-form-label-pinyin-admin" style="display: inline-block;width: auto">
            </span>-->
            <span>
                <span style="padding: 9px 15px">客户</span>
                <input value="{$request.user_id}" type="hidden" name="user_id" placeholder="请选择客户" class="layui-input jl-select-customer" style="display: inline-block;width: auto">
                <input value="{$request.user_id_name}" type="text" name="user_id_name" placeholder="请选择客户" class="layui-input jl-select-customer layui-form-label-pinyin-customer" style="display: inline-block;width: auto">
            </span>

            <div class="layui-btn-group">
                <button class="layui-btn search-btn">检索</button>
                <button class="layui-btn layui-btn-primary clear-btn">清空</button>
            </div>
        </blockquote>
        <table lay-filter="data-table" class="data-table">
            <script type="text/html" id="data-table-handle-tpl">
                <div class="data-table-handle-box" data-id="{{ d.id }}"  data-id="{{ d.status }}" style="width: 100%">
                    {{#  if(d.status==0){ }}
                    <span lay-event="checkTrue">审核</span>
                    {{#  }else if(d.status==1){ }}
                    <span lay-event="handle" style="color:#009688">奖品发放</span>
                    {{#  } }}
                </div>
            </script>
        </table>
        <div id="data-table-page"></div>
    </div>
</block>
<block name="js">
    <script>
        layui.use(['table', 'layer', 'jlTool', 'element', 'form', 'selectUser','selectCustomer','handleDistrict'], function () {
            var layer = layui.layer;
            var table = layui.table;
            var laypage = layui.laypage;
            var jlTool = layui.jlTool;
            var element = layui.element;
            var form = layui.form;
            var selectUser = layui.selectUser;
            // selectUser.initInput(false,false,'fullname');
            var selectCustomer = layui.selectCustomer;
            //selectCustomer.initInput(false,false,false);
            initInput({"admin":"","customer":""});
            var list_data = {$res|json_encode};
            var request = {$request|json_encode};
            var queryTable = function (query) {
                query = jlTool.urlEncode(query);
                window.location.href = '/Admin/Customer/codeIndex?' + query
            };
            table.render({
                elem: '.data-table',
                data: list_data,
                page: false,
                limit: request.pageSize ?request.pageSize:10,
                cellMinWidth: 160,
                height: 'full-226',
                cols: [[
                    {field: 'id', title: '编号', fixed: 'left'}
                    , {field: 'user_id', title: '用户ID'}
                    , {field: 'fcustjc', title: '客户名称'}
                    , {field: 'code', title: '中奖码'}
                    , {field:'goods',title: '兑换奖品'}
                    , {field: 'status', title: '兑奖状态',templet:function(d){
                            var str= d.status == '0' ? "未审核":(d.status == 1 ? '<span style="color:#4BCC60">审核通过</span>':(d.status == 2?'<span style="color:#FF5722">审核失败</span>':'<span style="color:#4BCC60">奖品已发放</span>'));
                            return '<div>'+str+'</div>';
                        }}
                    , {field: 'remark', title: '备注'}
                    , {field: 'create_time', title: '添加时间'}
                    , {field: 'update_time', title: '更新时间'}
                    , {
                        field: 'handle', title: '操作', align: 'center', fixed: 'right',
                        toolbar: '#data-table-handle-tpl'
                    }
                ]],
                done:function () {
                    $('.jl-show-order-list').on('click',function () {
                        var $content = $(this).siblings('.jl-order-list-container');
                        layer.open({
                            type: 1,
                            title:'订单详情',
                            area:['750px'],
                            content: $content,
                            success:function () {

                            },
                            yes: function(index, layero){

                            }
                        })
                    })
                }
            });
            //工具按钮
            table.on('tool(data-table)', function (obj) {
                var source = obj.data;
                var layEvent = obj.event;
                if (layEvent === 'handle') {
                    layer.confirm('确认奖品已发放了吗？',function(index){
                        var data = {
                            id:source.id,
                            status:3
                        };
                        $.post('/Admin/Customer/codeTwo',data,function (res) {
                            res = $.parseJSON(res);
                            if(res.error===0){
                                layer.msg('操作成功');
                                setTimeout(function () {
                                    window.location.reload()
                                },500)
                            }
                            else {
                                layer.msg(res.msg)
                            }
                        })
                    });
                } else if (layEvent === 'checkTrue') {
                    var str='';
                    str +='<div style="width:100%;margin:4% auto"><input type="radio" name="status" value="1" title="通过" checked> ' +
                          '<input type="radio" name="status" value="2" title="不通过"></div> ' ;
                    str +=' <div style="width:100%;margin:4% auto"><span style="margin-right:5%">奖品</span> <input style="padding:2% 4%;border:none" name="goods" type="text" placeholder="请填写兑换奖品"/></div>';
                    str +=' <div style="width:100%;margin:4% auto"><span style="margin-right:5%">备注</span> <input style="padding:2% 4%;border:none" name="remark" type="text" placeholder="请填写备注信息"/></div>';
                    layer.open({
                        type: 1,
                        title:'奖品审核',
                        type:0,
                        btn:['确认','取消'],
                        content: '<div class="layui-form jl-check-modal codeForm" style="width: 320px">'+str+'</div>',
                        success:function(){
                            form.render('radio');
                            $('.layui-layer-btn.layui-layer-btn-').css("text-align","center");
                            $('.layui-form-radio').css('font-size','inherit');
                        },
                        yes:function () {
                            var data={};
                            data.id=source.id;
                            data.status=$('.codeForm').find('input[name=status]:checked').val();
                            data.goods=$('.codeForm').find('input[name=goods]').val();
                            data.remark=$('.codeForm').find('input[name=remark]').val();
                            if(data.status == 1 && !$('.codeForm').find('input[name=goods]').val()){ layer.msg("奖品必须填写哟");return}

                            $.ajax({
                                type: 'GET',
                                url: "{:U('Admin/Customer/codeOne')}",
                                data: data,
                                success: function (res) {
                                    var data = JSON.parse(res);
                                    if (data.error == "0") {
                                        layer.msg("提交成功");
                                        setTimeout(function () {
                                            window.location.reload()
                                        },500)
                                    } else {
                                        layer.msg("提交失败");
                                    }
                                }
                            })
                        }
                    })
                }
            });
            //分页初始化
            laypage.render({
                elem: 'data-table-page',
                limit: request.pageSize ? request.pageSize : 10,
                count: request.count ? request.count : 10,
                curr: request.page ? request.page : 1,
                layout: ['prev', 'page', 'next', 'skip', 'count', 'limit'],
                jump: function (obj, first) {
                    if (!first) {
                        queryTable($.extend(request, {
                            pageSize: obj.limit,
                            page: String(obj.limit) === String(request.pageSize) ? obj.curr : 1
                        }));
                    }
                }
            });
            //检索按钮
            $('.search-btn').on('click',function () {
                queryTable($.extend(request,{
                    sys_uid:$('input[name="sys_uid"]').val(),
                    user_id:$('input[name="user_id"]').val(),
                    sys_uid_name:$('input[name="sys_uid_name"]').val(),
                    user_id_name:$('input[name="user_id_name"]').val()
                }));
            });
            $('.clear-btn').on('click',function () {
                queryTable();
            })
        })
    </script>
</block>