<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<form action="" method="get">
    头部
    <input type="text" name="search">
    结果里
    <input type="text" name="search_inner">
    分类里
    <input type="text" name="cate_id">
    是否库存
    <input type="text" name="store">
    <br>
    销量
    <input type="text" name="sell_num">
    价格
    <input type="text" name="price">
    新品
    <input type="text" name="create_time">

    <input type="submit" value="submit">
    {$page}
</form>
</body>
</html>