

<extend name="Layout:layout-center" />

<block name="title">收获地址</block>
<block name="keywords">这里是关键字</block>
<block name="description">这里是描述</block>
<block name="css">
    <link rel="stylesheet" href="__PUBLIC__/Home/User/css/settingUser.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/Public/css/cart-nav.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/User/css/center.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/User/css/setSpecial.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/Public/css/select_address.css">
</block>
<block name="nav-title">
    <if condition="$_SESSION['userType'] eq 1">
        个人中心<else /> 企业中心
    </if>
</block>
<block name="main">
    <form method="post">
        <div class="jl-per-information jl-add-item jl-cle">
            <div class="jl-address-tit">
                <h2 class="jl-add-h2">
                    <if condition="$get.act eq 'edit' ">
                        修改收货地址
                        <else />
                        新增收货地址
                    </if>
                </h2>
            </div>
            <div class="jl-per-cell jl-add-top jl-cle">
                <div class="jl-per-left">
                    <label for class="jl-per-label">收货人：</label>
                </div>
                <div class="jl-per-right jl-per-h js-false-info">
                    <input type="text" placeholder="请输入收货人" name="consignee" id="js-de-name" class="jl-per-input js-next-input" value="{$old.consignee}">
                    <i class="jl-false-note jl-add-note01"></i>
                    <i class="jl-add-import"></i>
                </div>
            </div>
            <div class="jl-per-cell jl-cle">
                <div class="jl-per-left ">
                    <label for class="jl-per-label">手机号码：</label>
                </div>
                <div class="jl-per-right jl-per-h js-false-info">
                    <input type="text" id="js-de-phone" placeholder="请输入手机号码" name="mobile" class="jl-per-input js-next-input" value="{$old.mobile}">
                    <i class="jl-false-note jl-add-note01"></i>
                    <i class="jl-add-import"></i>
                </div>
            </div>
            <div class="jl-per-cell jl-cle">
                <div class="jl-per-left">
                    <label for class="jl-per-label">所在地址：</label>
                </div>
                <div class="jl-per-right jl-per-h">
                    <div class="jl-c-de js-address js-selector-container0">
                        <input type="text" class="js-selector-input jl-c-hidden jl-y-select-input js-next-input"
                               name="area_code"  placeholder="" data-title="所在地址">
                        <div class="jl-c-address jl-y-select js-select-first">
                            <div class="jl-y-select-title">
                                <span class="jl-c-c text-ellipsis">请选择</span>
                                <b class="jl-top-tri"></b>
                                <b class="jl-bottom-tri"></b>
                            </div>
                            <ul class="lj-option-box"></ul>
                        </div>
                        <div class="jl-c-address jl-y-select js-select-second">
                            <div class="jl-y-select-title">
                                <span class="jl-c-c text-ellipsis">请选择</span>
                                <b class="jl-top-tri"></b>
                                <b class="jl-bottom-tri"></b>
                            </div>
                            <ul class="lj-option-box"></ul>
                        </div>
                        <div class="jl-c-address jl-y-select js-select-third">
                            <div class="jl-y-select-title">
                                <span class="jl-c-c text-ellipsis">请选择</span>
                                <b class="jl-top-tri"></b>
                                <b class="jl-bottom-tri"></b>
                            </div>
                            <ul class="lj-option-box"></ul>
                        </div>
                        <i class="jl-false-note jl-add-note2"></i>
                        <i class="jl-add-import jl-add-import03"></i>
                    </div>
                </div>
            </div>
            <div class="jl-per-cell jl-cle">
                <div class="jl-per-left jl-per-gender-tit">
                    <label for class="jl-per-label">详细地址：</label>
                </div>
                <div class="jl-per-right jl-per-h">
                    <div class="jl-add-delivery js-false-info">
                        <input type="text" placeholder="请输入详细地址" name="address" class="jl-per-input jl-add-detail js-next-input" value="{$old.address}">
                        <i class="jl-false-note jl-add-note01"></i>
                        <i class="jl-add-import"></i>
                    </div>
                </div>
            </div>
            <div class="jl-add-choose">
                <span class="jl-add-box jl-add-active-box"></span>
                <input id="jl-address-staus-input" type="hidden" name="status" value="{$old.status}">
                <p class="jl-add-default">设置为默认地址</p>
            </div>
        </div>
        <button type="button" id="submit" class="jl-per-submit jl-save-submit">保存</button>
    </form>

    <div class="jl-add-save">
        <p>已保存了<span>{:count($addr)}</span>条地址, 还能保存<span><?php echo 5-count($addr);  ?></span>条地址</p>
    </div>

    <div class="jl-per-information jl-add-item jl-add-address">
        <ul class="jl-add-list">
            <li class="jl-add-list01">收货人</li>
            <li class="jl-add-list02">所在地区</li>
            <li class="jl-add-list03">详细地址</li>
            <li class="jl-add-list04">手机号</li>
            <li class="jl-add-list05">操作</li>
            <li class="jl-add-list06">设为默认</li>
        </ul>
        <volist name="addr" id="ad">
            <ul class="jl-add-content jl-cle" data-id="{$ad.id}">
                <li class="jl-add-list01">{$ad.consignee}</li>
                <li class="jl-add-list02">{$ad.area}</li>
                <li class="jl-add-list03 jl-add-content-ad">{$ad.address}</li>
                <li class="jl-add-list04">{$ad.mobile}</li>
                <li class="jl-add-list05 jl-add-handle">
                    <span class="jl-list-edit"  data-aid="{$i}">修改</span>
                    <span>|</span>
                    <span class="jl-list-del"  data-aid="{$i}">删除</span>
                </li>
                <if condition="$ad.status eq 1">
                    <li class="jl-add-list06">默认地址</li>
                    <else />
                    <li class="jl-add-list06 jl-add-set-def" data-aid="{$ad.id}">设为默认</li>
                </if>
            </ul>
        </volist>
    </div>

</block>

<block name="js">
    <script>
        require(['__PUBLIC__/Home/Public/js/require-config.js'], function () {
            require(['jquery', 'jl-modal'], function ($, modal) {
                require(['Account/js/common_register']);
                require(['Public/js/address-select'],function (address) {
                    var area_code = "{$old.area_code}";
                    address.init($('.js-selector-container0'),area_code);
                    //address.init($('.js-selector-container2'),340103)：当你要固定传某个地址的时候。就会传一个地址的code
                });
                modal.option({
                    left:-77
                });

                //默认勾选
                if($('#jl-address-staus-input').val()===""){
                    $('#jl-address-staus-input').val(1);
                }
                if($('#jl-address-staus-input').val()==="1"){
                    //console.log(1);
                    $('.jl-add-box').addClass('jl-add-active-box');
                }else{
                   // console.log(2);
                    $('.jl-add-box').removeClass('jl-add-active-box');
                }

                //是否设为默认选择
                var $add_check = $('.jl-add-box');
                $('.jl-add-choose').click(function () {
                    if(!$add_check.hasClass('jl-add-active-box')){
                        $add_check.addClass('jl-add-active-box');
                        $('#jl-address-staus-input').val(1);
                    }
                    else {
                        $add_check.removeClass('jl-add-active-box');
                        $('#jl-address-staus-input').val(0);
                    }
                });


                //多选框所在地址
                var $choose_address=$('input[name=area_code]');
                $choose_address.on('change',function () {
                    if($choose_address.val()===''){
                        $('.js-selector-container0').addClass('js-false');
                    }
                    else {
                        $('.js-selector-container0').removeClass('js-false');
                    }
                });

                //详细地址
                $('.jl-add-delivery input').on('change',function(){
                    if($(this).val()!==""){
                        $(this).parents('.jl-add-delivery').removeClass('js-false');
                    }
                    else{
                        $(this).parents('.jl-add-delivery').addClass('js-false');
                    }
                }).on( 'blur', function(){
                    if($(this).val()!==""){
                        $(this).parents('.jl-add-delivery').removeClass('js-false');
                    }
                    else{
                        $(this).parents('.jl-add-delivery').addClass('js-false');
                    }
                });

                //手机号码
                var reg_mobile = /^1[345789]+\d{9}$/;
                function isEmptyTips(input,reg) {
                    var $reg = reg?reg:false;
                    var $tips = $(input).parent();
                    if($(input).val()==''){
                        $tips.addClass('js-false');
                    }
                    else if($reg){
                        if(!$reg.test($(input).val())){
                            $tips.addClass('js-false');
                        }
                    }
                    else {
                        $tips.removeClass('js-false');
                    }
                }
                var $de_phone = $('#js-de-phone');
                $de_phone.on('focus', function(){
                    $de_phone.parent().removeClass('js-false');
                });
                $de_phone.on('blur',function () {
                    isEmptyTips($de_phone,reg_mobile);
                });

                //收货人
                var $de_name = $('#js-de-name');
                $de_name.on('focus',function () {
                    $de_name.parent().removeClass('js-false');
                });
                $de_name.on('blur',function () {
                    isEmptyTips($de_name);
                });

                //修改
                $('.jl-add-item .jl-list-edit').each(function(i){
                    var t = $(this);
                    t.on('click', function(){
                        var aid = t.attr('data-aid');
                        location.href='{:U("Home/User/delivery_address")}?act=edit&&aid='+aid;
                    });
                });
                //删除
                $('.jl-add-item .jl-list-del').each(function(i){
                    var t = $(this);
                    t.on('click', function(){
                        var aid = t.parent().parent().attr('data-id');
                        modal.confirm({
                            title: '删除收货地址',
                            brief: '您确定要删除收货地址吗！',
                            top: 100,
                            confirm:function () {
                                $.ajax({
                                    type:'POST',
                                    url:"{:U('Home/Order/editUserOrderAddress', ['act'=>del])}",
                                    data:{id:aid},
                                    success:function(res){
                                        var data=$.parseJSON(res);
                                        if(data.error===0){
                                            location.reload();
                                        }
                                        else{
                                            modal.confirm({
                                                title: '系统繁忙',
                                                brief: '不好意思哦！系统繁忙，请稍后重试！',
                                                top: 100
                                            });
                                        }
                                    }
                                })
                            }
                        });
                    });
                });

                //设为默认
                $('.jl-add-set-def').each(function(i){
                    var t = $('.jl-add-set-def').eq(i);
                    t.on('click', function(){
                        $(this).removeClass('jl-add-set-def');
                        var aid = t.attr('data-aid');
                        var url = '{:U("Home/User/delivery_address")}?act=normal&&aid='+aid;
                        $.ajax({
                            url:url,
                            dataType: 'json',
                            type:'get',
                            success: function(res){
                                if( res.status == 0 ){
                                    modal.alert({
                                        title:'保存成功',
                                        brief:'收货地址保存成功!',
                                        confirm:function () {
                                            window.location.reload();
                                        }
                                    })
                                }
                                else if ( res.status == 1000 ) {
                                    modal.confirm({
                                        title: '系统繁忙',
                                        brief: '不好意思哦！系统繁忙，请稍后重试！',
                                        top: 100
                                    })
                                }
                            }
                        });
                    });
                });

                var number='{:count($addr)}';

                if(number==0){
                    $('.jl-add-list').parent().hide();
                }else {
                    $('.jl-add-list').parent().show();
                }

                var href=window.location.search;
                if(number>=5&&href==''){
                    $('#submit').removeClass('jl-save-submit').addClass('jl-save-gray');
                }
                else if(href===''){
                    $('#submit').addClass('jl-save-submit').removeClass('jl-save-gray');
                }
                else {
                    $('#submit').addClass('jl-save-submit').removeClass('jl-save-gray');
                }

                //保存
                $('#submit.jl-save-submit').on('click', function(){
                    var ch = true;
                    if( $de_name.val() === '' || $de_name.parent().hasClass('js-false')) {
                        ch = false;
                        $de_name.parent().addClass('js-false');
                    }
                    if( $de_phone.val() === '' || $de_phone.parent().hasClass('js-false') ){
                        ch = false;
                        $de_phone.parent().addClass('js-false');
                    }
                    if( $('input[name=area_code]').val() === '' ){
                        ch = false;
                        $('.js-selector-container0').addClass('js-false');
                    }
                    var $de_address_detail = $('.jl-add-delivery input');
                    if( $de_address_detail.val() === '' || $de_address_detail.parent().hasClass('js-false') ){
                        ch = false;
                        $de_address_detail.parent().addClass('js-false');
                    }

                    if( ch ){
                        var data = $('form').serialize(),edit = '{$old}',url;
                        if( edit ){
                            url = '{:U("Home/Order/editUserOrderAddress", ["id"=>$old["id"], "act"=>"edit"])}';
                        }
                        else{
                            url = '{:U("Home/Order/editUserOrderAddress")}';
                        }
                        $.ajax({
                            url:url,
                            dataType: 'json',
                            type:'post',
                            data: data,
                            success: function(res){
                                if( res.error == 0 ){
                                        modal.alert({
                                            title:'保存成功',
                                            brief:'收货地址保存成功!',
                                            confirm:function () {
                                                window.location.href="{:U('Home/User/delivery_address')}";
                                            }
                                        })
                                }
                                else if ( res.error == 1 ) {
                                    modal.alert({
                                        title: '系统繁忙',
                                        brief: '不好意思哦！系统繁忙，请稍后重试！',
                                        top: 100
                                    })
                                }
                            }
                        });
                    }
                });
            });
        })

    </script>
</block>