<!-- 前台搜索模板文件  -->

<extend name="Layout:layout-center" />

<block name="title">个人中心</block>
<block name="keywords">这里是关键字</block>
<block name="description">这里是描述</block>
<block name="css">
    <link rel="stylesheet" href="__PUBLIC__/Home/Public/css/cart-nav.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/User/css/center.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/User/css/centerUser.css">
</block>

<block name="nav-title">个人中心</block>

<!-- 主要内容 -->
<block name="main">

    <div class="jl-apply-complete">
        <img src="__PUBLIC__/Home/Public/img/success.png" alt="">
        <p>提交成功，审核后客服会尽快与你联系的！</p>
        <a href="#">返回首页</a>
    </div>

</block>


<block name="js">
</block>
