<!-- 前台搜索模板文件  -->

<extend name="Layout:layout-center" />

<block name="title">个人中心</block>
<block name="keywords">这里是关键字</block>
<block name="description">这里是描述</block>
<block name="css">
    <link rel="stylesheet" href="__PUBLIC__/Home/Public/css/cart-nav.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/User/css/center.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/User/css/centerUser.css">
</block>

<block name="nav-title">个人中心</block>



<!-- 主要内容 -->
<block name="main">

    <div class="jl-center-user">
        <a href="{:U('Home/Order/index')}" class="jl-user-title jl-cle">
            <div class="jl-title-head">
                <img src="__PUBLIC__/Home/Public/img/head.png" alt="">
            </div>
            <ul class="jl-user-news">
                <li>昵称：新用户279999A</li>
                <li>用户名：我是小韩同志</li>
                <li>账期余额：￥452.00</li>
                <li>手机号码：18004099025</li>
                <li>上次登录时间：2017-07027 09:42:18</li>
                <li>现货订单付款有效期：7天</li>
            </ul>
        </a>
        <div class="jl-title"><i class="jl-logistics"></i>我的物流</div>
        <ul class="jl-user-logistics">
            <li>
                <img src="__PUBLIC__/Home/Public/img/user/product01.png" alt="">
                <div class="jl-logistics-detail">
                    <p>广东省深圳市科技园南区公司&nbsp;&nbsp;&nbsp;已签收&nbsp;&nbsp;&nbsp;签收人：科技园南区  </p>
                    <div>
                        <span>2017-07-22</span>
                        <span>18:07:12</span>
                        <div class="jl-logistics-way">
                            <a href="#">查看物流明细</a>
                            <div class="jl-logistics-popup">
                                <i class="jl-arr-top"></i>
                                <div class="jl-logistics-title">
                                    <span>申通快递</span>
                                    <span>运单号：482952885368</span>
                                </div>
                                <ul>
                                    <li class="jl-cur">
                                        <i></i>
                                        <div>
                                            <p>快件已从 深圳 发出</p>
                                            <p>2017-07-26  20:19:35</p>
                                        </div>
                                    </li>
                                    <li>
                                        <i></i>
                                        <div>
                                            <p>快件已从 深圳 发出</p>
                                            <p>2017-07-26  20:19:35</p>
                                        </div>
                                    </li>
                                    <li class="jl-check-more">
                                        <a href="#">查看全部</a>
                                    </li>
                                    <li>
                                        <i></i>
                                        <div>
                                            <p>快件已从 深圳 发出</p>
                                            <p>2017-07-26  20:19:35</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="jl-confirm-receipt">确认收货</button>
            </li>
            <li>
                <img src="__PUBLIC__/Home/Public/img/user/product01.png" alt="">
                <div class="jl-logistics-detail">
                    <p>广东省深圳市科技园南区公司&nbsp;&nbsp;&nbsp;已签收&nbsp;&nbsp;&nbsp;签收人：科技园南区  </p>
                    <div>
                        <span>2017-07-22</span>
                        <span>18:07:12</span>
                        <div class="jl-logistics-way">
                            <a href="#">查看物流明细</a>
                            <div class="jl-logistics-popup">
                                <i class="jl-arr-top"></i>
                                <div class="jl-logistics-title">
                                    <span>申通快递</span>
                                    <span>运单号：482952885368</span>
                                </div>
                                <ul>
                                    <li class="jl-cur">
                                        <i></i>
                                        <div>
                                            <p>快件已从 深圳 发出</p>
                                            <p>2017-07-26  20:19:35</p>
                                        </div>
                                    </li>
                                    <li>
                                        <i></i>
                                        <div>
                                            <p>快件已从 深圳 发出</p>
                                            <p>2017-07-26  20:19:35</p>
                                        </div>
                                    </li>
                                    <li class="jl-check-more">
                                        <a href="#">查看全部</a>
                                    </li>
                                    <li>
                                        <i></i>
                                        <div>
                                            <p>快件已从 深圳 发出</p>
                                            <p>2017-07-26  20:19:35</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="jl-confirm-receipt">确认收货</button>
            </li>
            <li>
                <img src="__PUBLIC__/Home/Public/img/user/product01.png" alt="">
                <div class="jl-logistics-detail">
                    <p>广东省深圳市科技园南区公司&nbsp;&nbsp;&nbsp;已签收&nbsp;&nbsp;&nbsp;签收人：科技园南区  </p>
                    <div>
                        <span>2017-07-22</span>
                        <span>18:07:12</span>
                        <div class="jl-logistics-way">
                            <a href="#">查看物流明细</a>
                            <div class="jl-logistics-popup">
                                <i class="jl-arr-top"></i>
                                <div class="jl-logistics-title">
                                    <span>申通快递</span>
                                    <span>运单号：482952885368</span>
                                </div>
                                <ul>
                                    <li class="jl-cur">
                                        <i></i>
                                        <div>
                                            <p>快件已从 深圳 发出</p>
                                            <p>2017-07-26  20:19:35</p>
                                        </div>
                                    </li>
                                    <li>
                                        <i></i>
                                        <div>
                                            <p>快件已从 深圳 发出</p>
                                            <p>2017-07-26  20:19:35</p>
                                        </div>
                                    </li>
                                    <li class="jl-check-more">
                                        <a href="#">查看全部</a>
                                    </li>
                                    <li>
                                        <i></i>
                                        <div>
                                            <p>快件已从 深圳 发出</p>
                                            <p>2017-07-26  20:19:35</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="jl-confirm-receipt">确认收货</button>
            </li>
        </ul>
        <div class="jl-logistics-more">查看更多物流信息<i></i></div>

        <div class="jl-title"><i class="jl-history"></i>浏览历史</div>
        <ul class="jl-history-product jl-cle">
            <li>
                <div class="jl-img">
                    <img src="__PUBLIC__/Home/Public/img/images/hot01.png" alt="">
                </div>
                <div class="jl-describe">
                    <h4>产品型号MURATA电器</h4>
                    <p class="jl-p-describe">替代料号Murata 替代料号Mura....</p>
                    <p>替代料号Murata 替代料号Mura....</p>
                    <p>替代料号Murata 替代料号Mura....</p>
                </div>
                <p>
                    <span>价格：￥10.44</span>
                    <a href="#">查看详情</a>
                </p>
            </li>
            <li>
                <div class="jl-img">
                    <img src="__PUBLIC__/Home/Public/img/images/hot01.png" alt="">
                </div>
                <div class="jl-describe">
                    <h4>产品型号MURATA电器</h4>
                    <p class="jl-p-describe">替代料号Murata 替代料号Mura....</p>
                    <p>替代料号Murata 替代料号Mura....</p>
                    <p>替代料号Murata 替代料号Mura....</p>
                </div>
                <p>
                    <span>价格：￥10.44</span>
                    <a href="#">查看详情</a>
                </p>
            </li>
            <li class="jl-hot-li-last">
                <div class="jl-img">
                    <img src="__PUBLIC__/Home/Public/img/images/hot01.png" alt="">
                </div>
                <div class="jl-describe">
                    <h4>产品型号MURATA电器</h4>
                    <p class="jl-p-describe">替代料号Murata 替代料号Mura....</p>
                    <p>替代料号Murata 替代料号Mura....</p>
                    <p>替代料号Murata 替代料号Mura....</p>
                </div>
                <p>
                    <span>价格：￥10.44</span>
                    <a href="#">查看详情</a>
                </p>
            </li>
        </ul>
    </div>

</block>


<block name="js">

    <script>
        require(['__PUBLIC__/Home/Public/js/require-config.js'], function() {
            require(['jquery'], function($) {

                require(['jl-modal'],function (modal) {

                    //确认收货
                    $('.jl-confirm-receipt').on('click',function(){
                        var $that=$(this);
                        var order_sn=$that.parents('tr').siblings('.jl-table-head').find('.jl-order-sn').html();
                        modal.confirm({
                            title:'确认收货',
                            brief:'您确定要收货吗？',
                            top:100,
                            confirm:function () {
                                $.post("{:U('Home/Order/doDelivery')}",{order_sn:order_sn}, function (res) {
                                    if(res.status===0){
                                        window.location.reload();
//                                        $that.removeClass('jl-confirm-receipt').addClass('jl-immediate-appraise');
//                                        $that.html('立即评价');
//                                        $that.parents('td').siblings().children('.jl-state').find("p:first-child").html("待评价");
                                    }else{
                                        modal.confirm({
                                            title:'系统繁忙',
                                            brief:'不好意思哦！系统繁忙，请稍后重试！',
                                            top:100
                                        })
                                    }
                                });
                            }
                        });
                    })

                });

                //查看物流
                $('.jl-logistics-way').each(function(){
                    var t = $(this);
                    t.hover(function(){
                        var code = t.find('.jl-delivery-name').attr('data-code'), num = t.find('.jl-delivery-num').attr('data-num'), sn= t.data('sn');
                        if( !t.hasClass('ajax-done') ){
                            $.ajax({
                                type:'post',
                                url:'{:U("Home/kd/info")}',
                                data:{shipperCode:code,logisticCode:num,orderCode:sn},
                                success:function(res){
                                    if( res.status != 1001 ){
                                        res = $.parseJSON(res);
                                        var str = '';
                                        for( i=0; i< 4; i++ ){
                                            if( i < 3 ){
                                                if( i == 0){
                                                    str += '<li class="jl-cur">';
                                                }else{
                                                    str += '<li>'
                                                }
                                                str += '<i></i><div><p>'+res[i].AcceptStation+'</p><p>'+res[i].AcceptTime+'</p></div></li>';
                                            }else {
                                                str += '<li class="jl-check-more"><a href="{:U(\'Home/Order/detail\')}?order_sn='+sn+'">查看全部</a></li>';
                                            }
                                        }
                                    }else{
                                        str = '<li class="jl-cur"><i></i><div><p>暂无物流信息</p></div></li>';
                                    }
                                    t.find('ul.jl-delivery-text').html(str);
                                    t.addClass('ajax-done');
                                }

                            })
                        }

                    },function(){

                    });
                });

            })
        })
    </script>

</block>
