<!-- 前台搜索模板文件  -->
<extend name="Layout:layout-center" />
<block name="title">已开发票</block>
<block name="keywords">这里是关键字</block>
<block name="description">这里是描述</block>
<block name="css">
    <link rel="stylesheet" href="__PUBLIC__/Home/Public/css/cart-nav.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/User/css/center.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/User/css/myOrder.css">
    <style>
        .jl-name{  width: 25%;  }
        .jl-subtotal{  width: 25%  }
        .jl-price,.jl-count,.jl-goods-operation{  width: 25%; }

    </style>
</block>
<block name="nav-title">
    <if condition="$_SESSION['userType'] eq 1">
        个人中心<else /> 企业中心
    </if>
</block>
<!-- 主要内容 -->
<block name="main">
    <!-- 订单详情 -->
    <notempty name="invoice_list">
        <volist name="invoice_list" id="order">
            <div style="margin-bottom: 20px">
                <ul class="jl-invoice-detail {$order['invoice_type']==1 ? 'js-special':'js-general' }">
                    <li>
                        <p>发票抬头：</p>
                        <span>{$order.invoice_header}</span>
                    </li>
                    <li>
                        <p>地址、电话：</p>
                        <span>{$order.company_area_code_name}{$order.company_address}  {$order.company_phone}</span>
                    </li>
                    <li>
                        <p>税务登记号：</p>
                        <span>{$order.company_tax_code}</span>
                    </li>
                    <li>
                        <p>发票类型：</p>
                        <span>
                            <if condition="$order.invoice_type eq 2">
                                普通发票
                                <elseif condition="$order.invoice_type eq 1"/>
                                增值税票
                                <else/>
                             </if>
                        </span>
                    </li>
                    <li>
                        <p>开户行、账号：</p>
                        <span>{$order.company_bank_name}&nbsp;&nbsp;{$order.company_bank_acount}</span>
                    </li>
                    <li>
                        <p>收票人信息：</p>
                        <span>{$order.invoice_owner}&nbsp;&nbsp;&nbsp;&nbsp;{$order.area_code_name}{$order.address}&nbsp;&nbsp;&nbsp;{$order.mobile}</span>
                    </li>
                    <li class="js-detail"><a href="javascript:;">查看详情</a></li>
                </ul>
                <!-- 标题 -->
                <div class="jl-list" style="display:none">
                    <ul class="jl-order-title" style="margin-bottom: 0;border-top:none;">
                        <li class="jl-goods" style="width:25%">订单编号</li>
                        <li class="jl-name">下单时间</li>
                       <!-- <li class="jl-price">原总价</li>
                        <li class="jl-count">实付总价</li>-->
                        <li class="jl-goods-operation">已支付金额</li>
                        <li class="jl-subtotal">更新时间</li>
                    </ul>
                    <volist name="order.orderList" id="list">
                        <ul class="jl-order-title" style="margin-bottom: 0;border-top:none;background-color: white">
                            <li class="jl-goods" style="width:25%">{$list.order_sn}</li>
                            <li class="jl-name">{$list.create_at}</li>
                            <!--<li class="jl-price">{$list.total_origin}</li>
                            <li class="jl-count">{$list.total}</li>-->
                            <li class="jl-goods-operation">{$list.order_has_pay }</li>
                            <li class="jl-subtotal">{$list.update_at}</li>
                        </ul>
                    </volist>
                </div>
            </div>
        </volist>
        <else />
        <div class="jl-empty">
            <img src="__PUBLIC__/Home/Public/img/empty.png" alt="">
            <h4>亲爱的客官，空空如也啊！</h4>
        </div>
    </notempty>
    <!-- 分页 -->
    {$page}
</block>
<block name="js">
    <script>
        require(['jquery','jl-modal'], function($,modal) {
            //console.log('$invoice_list',{$invoice_list|json_encode});
            modal.option({
                left:-77
            });
            $(".js-detail").on("click",function () {
                $(this).parent().siblings('.jl-list').slideToggle();
            });
            //取消订单
            $('.jl-cancel').on('click',function () {
                var $that=$(this);
                var $table=$that.parents('.jl-product-detail');
                var order_sn=$table.find('.jl-order-sn').html();
                modal.confirm({
                    title:'取消订单',
                    brief:'您确定要取消订单吗？',
                    top:100,
                    confirm:function () {
                        $.post("{:U('Home/Order/cancleOrder')}",{order_sn:order_sn}, function (res) {
                            if(res.status===0){
                                window.location.reload();
                            }else{
                                modal.confirm({
                                    title:'系统繁忙',
                                    brief:'不好意思哦！系统繁忙，请稍后重试！',
                                    top:100
                                });
                            }
                        });
                    }
                });

            });
            //确认收货
            $('.jl-confirm-receipt').on('click',function(){
                var $that=$(this);
                var order_sn=$that.parents('tr').siblings('.jl-table-head').find('.jl-order-sn').html();
                modal.confirm({
                    title:'确认收货',
                    brief:'您确定要收货吗？',
                    top:100,
                    confirm:function () {
                        $.post("{:U('Home/Order/doDelivery')}",{order_sn:order_sn}, function (res) {
                            if(res.status===0){
                                window.location.reload();
//                                        $that.removeClass('jl-confirm-receipt').addClass('jl-immediate-appraise');
//                                        $that.html('立即评价');
//                                        $that.parents('td').siblings().children('.jl-state').find("p:first-child").html("待评价");
                            }else{
                                modal.confirm({
                                    title:'系统繁忙',
                                    brief:'不好意思哦！系统繁忙，请稍后重试！',
                                    top:100
                                })
                            }
                        });
                    }
                });
            });
            //立即支付
            $('.jl-pay-money').on('click',function(){
                var $that=$(this);
                var order_sn=$that.parents('tr').siblings('.jl-table-head').find('.jl-order-sn').html();
                $.ajax({
                    type:'POST',
                    url:"{:U('Home/Order/checkStore')}",
                    data:{"order_sn":order_sn},
                    success:function(res){
                        var data=res.content;
                        if(res.status===0){
                            var tr=$that.parents('.jl-product-detail').find('tr').not('.jl-table-head');
                            var $res=0;
                            $.each(tr,function(index,el){
                                var pid=$(el).attr("data-id");
                                var store=$(el).find('.jl-count').html();
                                var $store=data[pid];
                                if($store<store){
                                    modal.confirm({
                                        title:'支付失败',
                                        brief:'不好意思哦！你购买的商品库存不足，请重新下单',
                                        top:100
                                    });
                                    $res++;
                                    return;
                                }
                            });
                            if($res<=0){
                                window.location.href="{:U('Home/Order/userPayPlatform')}?order_sn="+order_sn;
                            }
                        }

                    }
                });
            });
            //查看物流
            $('.jl-logistics-way').each(function(){
                var t = $(this);
                t.hover(function(){
                    var code = t.find('.jl-delivery-name').attr('data-code'), num = t.find('.jl-delivery-num').attr('data-num'), sn= t.data('sn');
                    if( !t.hasClass('ajax-done') ){
                        $.ajax({
                            type:'post',
                            url:'{:U("Home/kd/info")}',
                            data:{shipperCode:code,logisticCode:num,orderCode:sn},
                            success:function(res){
                                if( res.status != 1001 ){
                                    res = $.parseJSON(res);
                                    var str = '';
                                    for( i=0; i< 4; i++ ){
                                        if( i < 3 ){
                                            if( i == 0){
                                                str += '<li class="jl-cur">';
                                            }else{
                                                str += '<li>'
                                            }
                                            str += '<i></i><div><p>'+res[i].AcceptStation+'</p><p>'+res[i].AcceptTime+'</p></div></li>';
                                        }else {
                                            str += '<li class="jl-check-more"><a href="{:U(\'Home/Order/detail\')}?order_sn='+sn+'">查看全部</a></li>';
                                        }
                                    }
                                }else{
                                    str = '<li class="jl-cur"><i></i><div><p>暂无物流信息</p></div></li>';
                                }
                                t.find('ul.jl-delivery-text').html(str);
                                t.addClass('ajax-done');
                            }

                        })
                    }
                },function(){

                });
            });
        })
    </script>
</block>
