<!-- 前台搜索模板文件  -->
<extend name="Layout:layout-center" />
<block name="title">发票设置</block>
<block name="keywords">这里是关键字</block>
<block name="description">这里是描述</block>
<block name="css">
    <link rel="stylesheet" href="__PUBLIC__/Home/Index/css/register.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/Public/css/cart-nav.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/User/css/center.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/User/css/setSpecial.css">
</block>
<block name="nav-title">
    <if condition="$_SESSION['userType'] eq 1">
        个人中心<else /> 企业中心
    </if>
</block>
<!-- 主要内容 -->
<block name="main">
    <div class="jl-special-ticket">
        <form action="" id="jl-add-ticket">
            <div class="jl-title">
                <if condition="$get.act eq 'edit' ">
                    修改收票人地址
                <else />
                    新增收票人地址
                </if>
            </div>
            <div class="jl-form-group">
                <input type="text" class="jl-hint" value="1" name="invoice_type">
                <label>发票抬头：</label>
                <input type="text" value="{$one_invoice.invoice_header}" class="user_name js-next-input" placeholder="请输入发票抬头" name="invoice_header">
                <i class="jl-mandatory"></i>
                <i class="jl-false-note"></i>
            </div>
            <div class="jl-form-group">
                <label>企业电话：</label>
                <input type="text" value="{$one_invoice.company_phone}" class="phone js-phone js-next-input" placeholder="请输入企业电话" name="company_phone">
                <i class="jl-mandatory"></i>
                <i class="jl-false-note"></i>
            </div>
            <div class="jl-form-group js-address">
                <label>注册地址：</label>
                <div class="jl-c-de js-selector-container0">
                    <input type="text" class="js-selector-input jl-c-hidden js-next-input jl-y-select-input jl-area-code"
                           name="company_area_code"  placeholder="" data-title="注册地址">
                    <div class="jl-c-address jl-y-select js-select-first">
                        <div class="jl-y-select-title">
                            <span class="jl-c-c text-ellipsis">
                                <empty name="one_invoice.area_code" >
                                    请选择
                                    <else />
                                    {$one_invoice.area_code.code}
                                </empty>
                                </span>
                            <b class="jl-top-tri"></b>
                            <b class="jl-bottom-tri"></b>
                        </div>
                        <ul class="lj-option-box"></ul>
                    </div>
                    <div class="jl-c-address jl-y-select js-select-second">
                        <div class="jl-y-select-title">
                            <span class="jl-c-c text-ellipsis">请选择</span>
                            <b class="jl-top-tri"></b>
                            <b class="jl-bottom-tri"></b>
                        </div>
                        <ul class="lj-option-box"></ul>
                    </div>
                    <div class="jl-c-address jl-y-select js-select-third">
                        <div class="jl-y-select-title">
                            <span class="jl-c-c text-ellipsis">请选择</span>
                            <b class="jl-top-tri"></b>
                            <b class="jl-bottom-tri"></b>
                        </div>
                        <ul class="lj-option-box"></ul>
                    </div>
                </div>
                <i class="jl-false-note"></i>
                <i class="jl-mandatory"></i>
            </div>
            <div class="jl-form-group">
                <label>详细地址：</label>
                <input type="text" value="{$one_invoice.company_address}" class="user_name js-next-input" placeholder="请输入详细地址" name="company_address">
                <i class="jl-mandatory"></i>
                <i class="jl-false-note"></i>
            </div>
            <div class="jl-form-group">
                <label>纳税人识别号：</label>
                <input type="text" value="{$one_invoice.company_tax_code}" class="phone js-next-input" placeholder="请输入税务登记号" name="company_tax_code">
                <i class="jl-mandatory"></i>
                <i class="jl-false-note"></i>
            </div>
            <div class="jl-form-group">
                <label>开户银行：</label>
                <input type="text" value="{$one_invoice.company_bank_name}" class="phone js-next-input" placeholder="请输入开户银行" name="company_bank_name">
                <i class="jl-mandatory"></i>
                <i class="jl-false-note"></i>
            </div>
            <div class="jl-form-group">
                <label>银行账号：</label>
                <input type="text" value="{$one_invoice.company_bank_acount}" class="phone js-next-input" placeholder="请输入银行账号" name="company_bank_acount">
                <i class="jl-mandatory"></i>
                <i class="jl-false-note"></i>
            </div>
            <div class="jl-form-group">
                <label>收票人：</label>
                <input value="{$one_invoice.invoice_owner}" type="text" class="phone js-next-input" placeholder="请输入收票人" name="invoice_owner">
                <i class="jl-mandatory"></i>
                <i class="jl-false-note"></i>
            </div>
            <div class="jl-form-group">
                <label>手机号码：</label>
                <input type="text" value="{$one_invoice.mobile}" class="phone js-mobile js-next-input" placeholder="请输入手机号码" name="mobile">
                <i class="jl-mandatory"></i>
                <i class="jl-false-note"></i>
            </div>
            <div class="jl-form-group js-address">
                <label>所在地址：</label>
                <div class="jl-c-de js-selector-container1">
                    <input type="text" class="js-selector-input jl-c-hidden js-next-input jl-y-select-input"
                           name="area_code"  placeholder="" data-title="注册地址">
                    <div class="jl-c-address jl-y-select js-select-first">
                        <div class="jl-y-select-title">
                            <span class="jl-c-c text-ellipsis">请选择</span>
                            <b class="jl-top-tri"></b>
                            <b class="jl-bottom-tri"></b>
                        </div>
                        <ul class="lj-option-box"></ul>
                    </div>
                    <div class="jl-c-address jl-y-select js-select-second">
                        <div class="jl-y-select-title">
                            <span class="jl-c-c text-ellipsis">请选择</span>
                            <b class="jl-top-tri"></b>
                            <b class="jl-bottom-tri"></b>
                        </div>
                        <ul class="lj-option-box"></ul>
                    </div>
                    <div class="jl-c-address jl-y-select js-select-third">
                        <div class="jl-y-select-title">
                            <span class="jl-c-c text-ellipsis">请选择</span>
                            <b class="jl-top-tri"></b>
                            <b class="jl-bottom-tri"></b>
                        </div>
                        <ul class="lj-option-box"></ul>
                    </div>
                </div>
                <i class="jl-false-note"></i>
                <i class="jl-mandatory"></i>
            </div>
            <div class="jl-form-group">
                <label>详细地址：</label>
                <input type="text" value="{$one_invoice.address}" class="user_name js-next-input" placeholder="请输入详细地址" name="address">
                <i class="jl-mandatory"></i>
                <i class="jl-false-note"></i>
            </div>
            <div class="jl-form-group js-chose jl-chose-active">
                <input type="text" value="{$one_invoice.id}" class="jl-invoice-id" name="id">
                <label></label>
                <i></i>设置为默认发票
                <input type="text" value="{$one_invoice.invoice_status}" class="jl-defalt-addr" name="invoice_status" >
            </div>
        </form>
        <button class="jl-btn jl-save">保存</button>
        <!--<empty name="$one_invoice" >-->
            <!--<button class="jl-save">保存</button>-->
            <!--<else />-->
            <!--<button class="jl-amend">修改</button>-->
        <!--</empty>-->
        <p class="jl-notes">已保存了{$nowNum}条地址，还能保存{$count}条</p>
        <volist name="data" id="vo">
            <table data-id="{$vo.id}" class="jl-save-ticket">
                <tr>
                    <td class="jl-save-name">发票抬头</td>
                    <td class="jl-save-detail">{$vo.invoice_header}</td>
                    <td class="jl-save-name">企业电话</td>
                    <td class="jl-save-detail">{$vo.company_phone}</td>
                    <td rowspan="6" class="jl-save-set">
                        <if condition="$vo.invoice_status eq 1">
                                <a href="#" class="jl-amend">默认地址</a>
                            <else />
                                <a href="#" class="jl-defalt jl-default-true">设为默认</a>
                        </if>
                        <p>
                            <a href="javascript:;" class="jl-amend">修改</a>
                            |
                            <a href="javascript:;" class="jl-deleted">删除</a>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="jl-save-name">注册地址</td>
                    <td class="jl-save-detail">{$vo.company_area_code}</td>
                    <td class="jl-save-name">详细地址</td>
                    <td class="jl-save-detail">{$vo.company_address}</td>
                </tr>
                <tr>
                    <td class="jl-save-name">纳税人识别号</td>
                    <td class="jl-save-detail">{$vo.company_tax_code}</td>
                    <td class="jl-save-name">开户银行</td>
                    <td class="jl-save-detail">{$vo.company_bank_name}</td>
                </tr>
                <tr>
                    <td class="jl-save-name">银行账号</td>
                    <td class="jl-save-detail">{$vo.company_bank_acount}</td>
                    <td class="jl-save-name">收票人</td>
                    <td class="jl-save-detail">{$vo.invoice_owner}</td>
                </tr>
                <tr>
                    <td class="jl-save-name">手机号码</td>
                    <td class="jl-save-detail">{$vo.mobile}</td>
                    <td class="jl-save-name">所在地区</td>
                    <td class="jl-save-detail">{$vo.area_code}</td>
                </tr>
                <tr>
                    <td class="jl-save-name">详细地址</td>
                    <td class="jl-save-detail">{$vo.address}</td>
                    <td class="jl-save-name"></td>
                    <td class="jl-save-detail"></td>
                </tr>
            </table>
        </volist>
    </div>
</block>
<block name="js">
    <script>
        require(['jquery'], function ($) {
            require(['Account/js/common_register']);
            require(['Home/Order/js/address_select'], function (selector) {
                var area_code = "{$one_invoice.area_code}";
                var company_area_code = "{$one_invoice.company_area_code}";
                selector.init($('.js-selector-container0'), company_area_code);
                selector.init($('.js-selector-container1'), area_code);
            });
            //设为默认
            $('.jl-default-true').each(function (i) {
                var t = $('.jl-default-true').eq(i);
                t.on('click', function () {
                    var id = t.parents('table').attr('data-id');
                    var url = '{:U("Home/Order/trueSpecial")}?invoice_id=' + id;
                    $.ajax({
                        url: url,
                        dataType: 'json',
                        type: 'get',
                        success: function (res) {
                            if (res.status == 0) {
                                location.href = '{:U("Home/Order/setSpecial")}';
                            }
                            else if (res.status == 1000) {
                                modal.confirm({
                                    title: '系统繁忙',
                                    brief: '不好意思哦！系统繁忙，请稍后重试！',
                                    top: 100
                                })
                            }
                        }
                    });
                });
            });
            //发票抬头
            $('.user_name,.phone').on('blur', function () {
                if ($(this).val() === "") {
                    $(this).parent().addClass('js-false');
                } else {
                    $(this).parent().removeClass('js-false');
                }
            });
            //电话号码
            var reg1 = /^[0-9-]+$/;
            $('input[name="company_phone"]').on('blur', function () {
                if (!reg1.test($(this).val())) {
                    $(this).parent().addClass('js-false');
                } else {
                    $(this).parent().removeClass('js-false');
                }
            });
            //手机号码
            var reg2 = /^1(3|4|5|7|8)\d{9}$/;
            $('input[name="mobile"]').on('blur', function () {
                var mobile = $(this).val();
                if (!reg2.test(mobile)) {
                    $(this).parent().addClass('js-false');
                } else {
                    $(this).parent().removeClass('js-false');
                }
            });
            //地址
            $('input[name=area_code]').on('change', function () {
                if ($(this).val() !== "") {
                    $(this).parent().parent().removeClass('js-false');
                } else {
                    $(this).parent().parent().addClass('js-false');
                }
            });
            $('input[name=company_area_code]').on('change', function () {
                if ($(this).val() !== "") {
                    $(this).parents('.js-address').removeClass('js-false');
                } else {
                    $(this).parents('.js-address').addClass('js-false');
                }
            });
            //默认勾选
            if ($('.jl-defalt-addr').val() === "") {
                $('.jl-defalt-addr').val(1);
            }
            if ($('.jl-defalt-addr').val() === "1") {
                //console.log(1);
                $('.js-chose').addClass('jl-chose-active');
            } else {
                //console.log(2);
                $('.js-chose').removeClass('jl-chose-active');
            }
            //设置默认地址
            $('.jl-defalt-addr').on('click', function () {
                $('.js-chose').toggleClass('jl-chose-active');
                if ($('.js-chose').hasClass('jl-chose-active')) {
                    $(this).val(1);
                } else {
                    $(this).val(0);
                }
            });
            //控制添加
            require(['jl-modal'], function (modal) {
                modal.option({
                    left: -77
                });
                //删除
                $('.jl-deleted').on('click', function () {
                    var $that = $(this);
                    var id = $(this).parents('.jl-save-ticket').attr('data-id');
                    var edit = "delete";
                    var data = {
                        "id": id,
                        "edit": edit
                    };
                    modal.confirm({
                        title: '删除发票',
                        brief: '您确定要删除发票吗！',
                        top: 100,
                        confirm: function () {
                            $.ajax({
                                type: 'POST',
                                url: "{:U('Home/Order/editUserOrderInvoice')}",
                                data: data,
                                success: function (res) {
                                    var data = $.parseJSON(res);
                                    if (data.error === 0) {
                                        window.location.reload();
                                    } else {
                                        modal.confirm({
                                            title: '系统繁忙',
                                            brief: '不好意思哦！系统繁忙，请稍后重试！',
                                            top: 100
                                        })
                                    }
                                }
                            })
                        }
                    });
                });
                var number = '{$nowNum}';
                var href = window.location.search;
                if (number >= 5 && href == "") {
                    $('.jl-btn').removeClass('jl-save');
                } else if (href != "") {
                    $('.jl-btn').addClass('jl-modification').removeClass('jl-save');
                } else {
                    $('.jl-btn').removeClass('jl-modification').addClass('jl-save');
                }
                //保存
                $('.jl-save,.jl-modification').on('click', function () {
                    var input = $('.jl-form-group input').not(".jl-hint,.js-selector-input,.jl-invoice-id,.js-phone,.js-mobile");
                    $.each(input, function (index, el) {
                        if ($(el).val() === "") {
                            $(el).parent().addClass('js-false');
                            $(el).focus();
                        } else {
                            $(el).parent().removeClass('js-false');
                        }
                    });
                    //电话
                    var phone = $('input[name="company_phone"]');
                    if (!reg1.test(phone.val())) {
                        phone.parent().addClass('js-false');
                    } else {
                        phone.parent().removeClass('js-false');
                    }
                    //手机号码
                    var mobile = $('input[name="mobile"]');
                    if (!reg2.test(mobile.val())) {
                        mobile.parent().addClass('js-false');
                    } else {
                        mobile.parent().removeClass('js-false');
                    }
                    //地址
                    if ($('input[name=area_code]').val() === "") {
                        $('input[name=area_code]').parent().parent().addClass('js-false');
                        $('input[name=area_code]').focus();
                    } else {
                        $('.jl-area-code').parent().parent().removeClass('js-false');
                    }
                    if ($('input[name=company_area_code]').val() === "") {
                        $('input[name=company_area_code]').parents('.js-address').addClass('js-false');
                        $('input[name=company_area_code]').focus();
                    } else {
                        $('input[name=company_area_code]').parents('.js-address').removeClass('js-false');
                    }
                    var num = $('.jl-special-ticket .js-false').not('input[name=id]').length;
                    if (num <= 0) {
                        var data = $('#jl-add-ticket').serialize();
                        $.ajax({
                            url: "{:U('Home/Order/editUserOrderInvoice')}",
                            type: 'post',
                            data: data,
                            success: function (res) {
                                var data = $.parseJSON(res);
                                if (data.error === 0) {
                                    modal.alert({
                                        title: '保存成功',
                                        brief: '增值税专票保存成功！',
                                        top: 100,
                                        confirm: function () {
                                            window.location.href = "{:U('Home/Order/setSpecial')}";
                                        },
                                        close: function () {
                                            window.location.href = "{:U('Home/Order/setSpecial')}";
                                        }
                                    });
                                } else {
                                    modal.confirm({
                                        title: '系统繁忙',
                                        brief: '不好意思哦！系统繁忙，请稍后重试！',
                                        top: 100
                                    });
                                }
                            }
                        });
                    }
                });
                //修改
                $('.jl-amend').on('click', function () {
                    var id = $(this).parents('.jl-save-ticket').attr('data-id');
                    window.location.href = "{:U('Home/Order/setSpecial')}?id=" + id + "&act=edit";
                });
                //设为默认
            })
        })
    </script>
</block>
