<!-- 前台搜索模板文件  -->

<extend name="Layout:layout" />

<block name="title">方案中心</block>
<block name="keywords">这里是关键字</block>
<block name="description">这里是描述</block>
<block name="css">
	<link rel="stylesheet" href="__PUBLIC__/Home/Public/css/search-nav.css">
	<link rel="stylesheet" href="__PUBLIC__/Home/Index/css/release.css">
</block>

<block name="main">

	<!-- 主要内容 -->
	<!--方案中心接口测试start-->

	<!--<a href="{:U('Home/solution/index/')}">方案中心</a><br>
	<a href="{:U('Home/solution/provider/')}">供给方案</a><br>
	<a href="{:U('Home/solution/desired/')}">需求方案</a><br>
	<form action="{:U('Home/solution/desiredW')}" method="post"	>
		<input type="text" name="desir_name" value="上传需求方案名字">
		<input type="text" name="sol_type" value="方案类型">
		<input type="text" name="desir_desc" value="描述">
		<input type="text" name="delivery" value="交付时间">
		<input type="text" name="budge" value="预算">
		<input type="text" name="linkman" value="联系人">
		<input type="text" name="company" value="联系公司">
		<input type="text" name="mobile" value="手机">
		<input type="text" name="qq" value="qq">
		<input type="text" name="wechat" value="微信">
		<input type="submit"  value="提交">
	</form>
	<br>
	</form>-->


	<!--方案中心接口测试end-->
	<div id="jl-purchase-fault">
		<img src="__PUBLIC__/Home/Public/img/heart.png" alt="">
		<p class="jl-fault">页面正在建设，敬请期待！</p>
		<a href="{:U('Home/Default/index')}" class="jl-browse">返回首页</a>
	</div>


	<div class="jl-line"></div>

</block>

<block name="js">

</block>