<extend name="Layout:layout-tab" />
<block name="css">
</block>
<block name="content">
	<blockquote class="layui-elem-quote list_search layui-form">
		<div class="layui-inline">
			<div class="layui-input-inline">
				<input type="text" value="" placeholder="请输入关键字" class="layui-input search_input">
			</div>
			<a class="layui-btn search_btn">查询</a>
		</div>
		<div class="layui-inline">
			<a class="layui-btn layui-btn-normal add">批量审核退款</a>
		</div>
	</blockquote>
	<div class="layui-form list_list">
		<table class="layui-table">
			<colgroup>
				<col width="50">
				<col width="70">
				<col width="12%">
				<col width="12%">
				<col width="12%">
				<col width="12%">
				<col width="15%">
				<col width="20%">
			</colgroup>
			<thead>
			<tr>
				<th><input type="checkbox" name="" lay-skin="primary" lay-filter="allChoose" id="allChoose"></th>
				<th>订单编号</th>
				<th>订单状态</th>
				<th>用户</th>
				<th>总金额</th>
				<th>下单时间</th>
				<th>支付方式</th>
				<th>操作</th>
			</tr>
			</thead>
			<tbody class="list_content"></tbody>
		</table>
	</div>
	<div id="page"></div>
</block>
<block name="js">
	<script>
        layui.use(['table','layer', 'form','element', 'laypage','jquery'], function(){
            var table = layui.table;
            var layer = layui.layer;
            var form=layui.form;
            var laypage = layui.laypage;
            var $ = layui.jquery;

            var tableData;
            //列表数据请求
            $.ajax({
                url:'getList',
                type:'post',
                success:function(res){
                    tableData = res;
                    newTable(tableData);
                }
            });

            //全选
            form.on('checkbox(allChoose)', function(data){
                var child = $(data.elem).parents('table').find('tbody input[type="checkbox"]:not([name="is_earnest"])');
                child.each(function(index, item){
                    item.checked = data.elem.checked;
                });
                form.render('checkbox');
            });

            //批量处理
            $('body').on('click', '.handle_more', function(){
                var $checkbox = $('.list_list tbody input[type="checkbox"][name="checked"]');
                var $checked = $('.list_list tbody input[type="checkbox"][name="checked"]:checked');
                if( $checked.length == 0 ){
                    layer.msg('请选择待处理需求');
                }else{
                    var ids = [];
                    var index = layer.msg('批量处理中，请稍候',{icon: 16,time:false,shade:0.8});
                    for( i=0; i<$checked.length;i++ ){
                        var t=$checked.eq(i),id=t.attr('data-id');
                        ids.push(id);
                    }
                    $.ajax({
                        url:"{:U('Admin/Release/changeStatus')}",
                        type: 'POST',
                        data : {id:ids},
                        dataType: 'json',
                        success: function(res){
                            if( res.status == 0 ){
                                for( i=0; i<$checked.length;i++ ){
                                    var t=$checked.eq(i);
                                    t.parents("tr").find("td#handle_status").text("已处理").css('color','#f61515');
                                    t.parents("tr").find('input[type="checkbox"][name="checked"]').prop("checked",false);
                                }
                                form.render();
                                layer.close(index);
                                layer.msg('处理成功',{icon:6,time:2000});
                            }else{
                                layer.close(index);
                                for( i=0; i<$checked.length;i++ ){
                                    var t=$checked.eq(i);
                                    t.parents("tr").find('input[type="checkbox"][name="checked"]').prop("checked",false);
                                }
                                layer.msg('系统繁忙!处理失败',{icon:6,time:2000});
                            }
                        }
                    });
                }
            });

            //单个处理
            $('body').on('click', '.handle', function(){
                var t = $(this),id = t.attr('data-id');
                var index = layer.msg('处理中，请稍候',{icon: 16,time:false,shade:0.8});
                $.ajax({
                    url:"{:U('Admin/Release/changeStatus')}",
                    type: 'POST',
                    data : {id:id},
                    dataType: 'json',
                    success: function(res){
                        if( res.status == 0 ){
                            form.render();
                            layer.close(index);
                            t.parents("tr").find("td#handle_status").text("已处理").css('color','#f61515');
                            t.remove();
                            layer.msg('处理成功',{icon:6,time:2000});
                        }else{
                            layer.close(index);
                            layer.msg('系统繁忙!处理失败',{icon:6,time:2000});
                        }
                    }
                });
            });

            $('body').on('hover', '.handle_detail', function(){
                var t = $(this),order_sn = t.parents('tr').attr('data-sn');
                var index = layer.load(16);
                $.ajax({

                });
            });

            //渲染table数据
            function newTable(that) {
                function rendor( data, curr )
                {
                    var html = '';
                    if(!that){
                        data = tableData.concat().splice(curr*nums-nums, nums);
                    }else{
                        data = that.concat().splice(curr*nums-nums, nums);
                    }
                    if ( data.length != 0 ) {
                        for( i=0; i<data.length; i++ ){
                            var order_status = {$orderStatus};
                            html  += '<tr data-sn="'+ data[i].order_sn +'">'
                                +'<td><input type="checkbox" name="checked" lay-skin="primary" lay-filter="choose" data-id="'+ data[i].id +'" ></td>'
                                + '<td>'+ data[i].order_sn +'</td>';
                            if( data[i].order_status >= 6 ){
                                html += '<td style="color:red">'+ order_status[data[i].order_status]
                                    +'&nbsp;&nbsp;<a class="layui-btn layui-btn-mini handle_detail"  data-id="'+ data[i].id +'"><i class="iconfont-jl icon-jl-help"></i> </a></td>';
                            }else{
                                html += '<td>'+ order_status[data[i].order_status] +'</td>';
                            }

                            html += '<td>'+ data[i].user_name +'</td>'
                                +'<td>'+ data[i].total +'</td>';
                            html += '<td>'+ data[i].create_at +'</td>'
                                + '<td>'+ data[i].pay_name +'</td>';

                            html += '<td>'
                                +'<a class="layui-btn  detail"  data-id="'+ data[i].id +'"><i class="iconfont-jl icon-jl-help"></i> 查看详细</a>'
                                +'<a class="layui-btn  delete"  data-id="'+ data[i].id +'"><i class="iconfont-jl icon-jl-help"></i> 删除用户</a>'
                                +'</td>'
                                +'</tr>';

                        }
                    }else{
                        html = '<tr><td colspan="8">暂无数据</td></tr>';
                    }
                    return  html;
                }
                //分页
                var nums = 10; //每页出现的数据量
                if(that){
                    tableData = that;
                }
                laypage.render({
                    elem: 'page',
                    count: tableData.length,
                    limit: nums,
                    jump : function(obj){
                        $('.list_content').html(rendor( tableData, obj.curr ));
                        $('.list_list thead input[type="checkbox"]').prop("checked",false);
                        form.render();
                    }
                })
            }

        });
	</script>
</block>