<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<div class="box">
    <!--<form action="{:U('Home/Pay/alipay')}" method="post">-->
        <!--输入金额：<input type="text" name="price" value="1">-->
        <!--<input type="submit" value="生成支付宝订单">-->
    <!--</form>-->

    <form action="{:U('Home/Pay/alipay')}" method="post">
        订单号：<input type="text" name="order_sn" value="1">
        <input type="submit" value="生成支付宝订单">
    </form>
</div>

</body>
</html>