<!-- 前台搜索模板文件  -->

<extend name="Layout:layout-cart" />

<block name="title">退货/退款-填写物流单号</block>
<block name="keywords">这里是关键字</block>
<block name="description">这里是描述</block>
<block name="css">
    <link rel="stylesheet" href="__PUBLIC__/Home/Public/css/cart-nav.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/User/css/center.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/User/css/retreatCargo.css">
</block>

<block name="nav-title">退货退款</block>

<!-- 主要内容 -->
<block name="main">

    <ul class="jl-brands">
        <li><a>您的位置</a></li>
        <li>&gt;</li>
        <li><a href="{:U('Home/Default/index')}">首页</a></li>
        <li>&gt;</li>
        <li><a href="{:U('Home/User/index')}">个人中心</a></li>
        <li>&gt;</li>
        <li class="jl-last"><a href="{:U('Home/Order/myOrder')}">我的订单</a></li>
    </ul>
    <if condition="$data['retreat']['retreat_type'] eq 0">
        <ul class="jl-progress-money jl-cle" style="display:block">
            <li class="jl-old">
                <p>
                    <span class="jl-serial">1</span>
                    买家申请退货/退款退款
                </p>
                <i class="jl-arr"></i>
            </li>
            <li class="jl-old">
                <i class="jl-arr-white"></i>
                <p>
                    <span class="jl-serial">2</span>
                    玖隆处理退款/退货申请
                </p>
                <i class="jl-arr"></i>
            </li>
            <li class="jl-cur jl-progress-last">
                <i class="jl-arr-white"></i>
                <p>
                    <span class="jl-serial">3</span>
                    退款/退货完毕
                </p>
            </li>
        </ul>
        <else />
        <ul class="jl-progress-cargo jl-cle">
            <li class="jl-old">
                <p>
                    <span class="jl-serial">1</span>
                    买家申请退货/退款
                </p>
                <i class="jl-arr"></i>
            </li>
            <li class="jl-old">
                <i class="jl-arr-white"></i>
                <p>
                    <span class="jl-serial">2</span>
                    玖隆处理退货/退款申请
                </p>
                <i class="jl-arr"></i>
            </li>
            <li class="jl-old">
                <i class="jl-arr-white"></i>
                <p>
                    <span class="jl-serial">2</span>
                    买家退货
                </p>
                <i class="jl-arr"></i>
            </li>
            <li class="jl-cur jl-progress-last">
                <i class="jl-arr-white"></i>
                <p>
                    <span class="jl-serial">3</span>
                    退款完毕
                </p>
            </li>
        </ul>
    </if>
    <div id="jl-retreat-fill" class="jl-retreat-fill jl-cle">
        <div class="jl-logistics-left">
            <ul class="jl-retreat-content js-prompting">
                <li class="jl-cle">
                    <p>退货商品：</p>
                    <volist name="data.retreat_goods" id="vo">
                        <notempty name="$vo.p_img">
                            <img src="{$vo.p_img}" alt="{$vo.p_name}">
                            <else />
                            <img src="__PUBLIC__/Home/Public/img/load.jpg" alt="">
                        </notempty>
                        <div class="jl-goods-detail">
                            <p>{$vo.p_name}</p>
                            <p>数量：{$vo.p_num}</p>
                        </div>
                    </volist>
                </li>
                <li class="jl-company jl-cle">
                    <p class="jl-lh">快递公司：</p>
                    <div class="jl-goods-detail">
                        <input type="text" class="js-logistics" value="请选择" readonly>
                        <s class="jl-select"></s>
                        <i class="jl-false-note"></i>
                        <b class="jl-mandatory"></b>

                        <ul class="jl-logistics-select">

                            <volist name="delivery" id="d">
                                <li data-id="{$d.id}" data-code="{$d.kd_code}">{$d.kd_name}({$d.kd_code})</li>
                            </volist>
                        </ul>
                    </div>
                </li>
                <li class="jl-cle">
                    <p class="jl-lh">快递单号：</p>
                    <div class="jl-goods-detail">
                        <input type="text" class="js-number js-next-input" placeholder="请输入物流单号">
                        <i class="jl-false-note"></i>
                        <b class="jl-mandatory"></b>
                    </div>
                </li>
                <li class="jl-cle">
                    <p class="jl-lh">联系电话：</p>
                    <div class="jl-goods-detail">
                        <input type="text" class="js-phone js-next-input" placeholder="请输入联系电话">
                        <i class="jl-false-note"></i>
                        <b class="jl-mandatory"></b>
                    </div>
                </li>
                <li class="jl-cle">
                    <p class="jl-lh">退款说明：</p>
                    <div class="jl-goods-detail">
                        <textarea class="js-instruction js-next-input" placeholder="请输入退款说明"></textarea>
                    </div>
                </li>
                <li class="jl-cle">
                    <p>上传照片：</p>
                    <ol class="jl-imgs"></ol>
                    <div class="jl-upload">
                        <div id="js-upload-btn" class="jl-protocol">
                            <a href="javascript:;" class="a-upload">
                                <input type="file" name="">
                                <img src="__PUBLIC__/Home/Public/img/add.png" alt="">
                            </a>
                            <s></s>
                        </div>
                        <div class="jl-clear">上传快递凭证（最多三张）</div>
                    </div>
                    <b class="jl-mandatory"></b>
                </li>
                <li class="jl-cle jl-btns">
                    <p></p>
                    <div class="jl-goods-detail">
                        <button class="jl-submit">提交</button>
                    </div>
                </li>
            </ul>

            <div class="jl-line"></div>

            <h3>协商历史</h3>
            <?php $len = count($data['log'])  ?>
            <volist name="data.log" id="log">
                <if condition="$i eq $len">
                    <div class="jl-negotiate jl-cle jl-last ">
                        <else />
                    <div class="jl-negotiate jl-cle ">
                </if>
                <if condition="$log['user_type'] eq 0" >
                    <div class="jl-head">
                        <?php $avator = session('userInfo.avator');if( !file_exists(SITE_PATH.$avator) || empty($avator) ){echo '<img src="__UPLOAD__/User/avator/default.png" alt="">';}else{echo "<img src=".$avator.">";}?>
                    </div>
                    <else />
                    <div class="jl-head">
                        <img src="__PUBLIC__/Home/Public/img/head02.png" alt="">
                    </div>
                </if>
                <switch name="log.action_type">
                    <case value="0">
                        <ul class="jl-negotiate-content">
                            <li>{:session('userInfo.nick_name')}<span> {$log.create_time} </span></li>
                            <li>买家（{:session('userInfo.nick_name')}）于 {$log.create_time} 创建了<?php
                            if($data['retreat']['retreat_type']==0)
                            {echo "仅退款";}
                            elseif($data['retreat']['retreat_type']==1)
                            {echo "仅退货";}
                            else{{echo "退货退款";}}?>申请</li>
                            <li>退款类型：<?php
                            if($data['retreat']['retreat_type']==0)
                            {echo "仅退款";}
                            elseif($data['retreat']['retreat_type']==1)
                            {echo "仅退货";}
                            else{{echo "退货退款";}}?></li>
                            <li>退款金额：¥{$data.retreat.retreat_money}</li>
                            <li>退款说明：{$data.retreat.retreat_desc}</li>
                        </ul>
                    </case>
                    <case value="1">
                        <ul class="jl-negotiate-content">
                            <li>玖隆芯城<span> {$log.create_time} </span></li>
                            <li>玖隆 于 {$log.create_time} 同意<?php
                            if($data['retreat']['retreat_type']==0)
                            {echo "仅退款";}
                            elseif($data['retreat']['retreat_type']==1)
                            {echo "仅退货";}
                            else{{echo "退货退款";}}?>申请！</li>
                        </ul>
                    </case>
                    <case value="2">
                        <ul class="jl-negotiate-content">
                            <li>玖隆芯城<span> {$log.create_time} </span></li>
                            <li>玖隆 于 {$log.create_time} 驳回<?php
                            if($data['retreat']['retreat_type']==0)
                            {echo "仅退款";}
                            elseif($data['retreat']['retreat_type']==1)
                            {echo "仅退货";}
                            else{{echo "退货退款";}}?>申请！</li>
                            <li>驳回理由:{$log.action_desc}</li>
                        </ul>
                    </case>
                    <case value="3">
                        <ul class="jl-negotiate-content">
                            <li>{:session('userInfo.nick_name')}<span> {$log.create_time} </span></li>
                            <li>买家（{:session('userInfo.nick_name')}）于 {$log.create_time} 修改了<?php
                            if($data['retreat']['retreat_type']==0)
                            {echo "仅退款";}
                            elseif($data['retreat']['retreat_type']==1)
                            {echo "仅退货";}
                            else{{echo "退货退款";}}?>申请</li>
                        </ul>
                    </case>
                    <case value="4">
                        <ul class="jl-negotiate-content">
                            <li>{:session('userInfo.nick_name')}<span> {$log.create_time} </span></li>
                            <li>买家（{:session('userInfo.nick_name')}）于 {$log.create_time} 进行退货,并上传了退货物流单号</li>
                        </ul>
                    </case>
                    <case value="5">
                        <ul class="jl-negotiate-content">
                            <li>玖隆芯城<span> {$log.create_time} </span></li>
                            <li>玖隆 于 {$log.create_time} 确认收到退货物品！</li>
                        </ul>
                    </case>
                    <case value="6">
                        <ul class="jl-negotiate-content">
                            <li>玖隆芯城 <span> {$log.create_time} </span></li>
                            <li>玖隆 于{$log.create_time} 执行了<?php
                            if($data['retreat']['retreat_type']==0)
                            {echo "仅退款";}
                            elseif($data['retreat']['retreat_type']==1)
                            {echo "仅退货";}
                            else{{echo "退货退款";}}?>操作！<?php
                            if($data['retreat']['retreat_type']==0)
                            {echo "仅退款";}
                            elseif($data['retreat']['retreat_type']==1)
                            {echo "仅退货";}
                            else{{echo "退货退款";}}?>交易成功!</li>
                        </ul>
                    </case>
                    <case value="7">
                        <ul class="jl-negotiate-content">
                            <li>{:session('userInfo.nick_name')}<span> {$log.create_time} </span></li>
                            <li>买家（{:session('userInfo.nick_name')}）于 {$log.create_time} 撤销了<?php
                            if($data['retreat']['retreat_type']==0)
                            {echo "仅退款";}
                            elseif($data['retreat']['retreat_type']==1)
                            {echo "仅退货";}
                            else{{echo "退货退款";}}?>申请!退款交易关闭</li>
                        </ul>
                    </case>
                    <case value="8">
                        <ul class="jl-negotiate-content">
                            <li>玖隆芯城<span> {$log.create_time} </span></li>
                            <li>玖隆 于 {$log.create_time} 部分审核<?php
                            if($data['retreat']['retreat_type']==0)
                            {echo "仅退款";}
                            elseif($data['retreat']['retreat_type']==1)
                            {echo "仅退货";}
                            else{{echo "退货退款";}}?>申请！</li>
                        </ul>
                    </case>
                </switch>
                </div>
            </volist>
        </div>


    <include file="Public:retreat_order_detail" />
    </div>

    <div class="jl-line"></div>

</block>


<block name="js">

    <script>
        require(['__PUBLIC__/Home/Public/js/require-config.js'],function(){
            require(['jquery','jl-modal'],function($,modal){
                require(['webuploader'],function(WebUploader){
                    var uploader = WebUploader.create({
                        pick:'#js-upload-btn',
                        auto: true,
                        swf: '__PUBLIC__/Common/module/webuploader/0.1.5/Uploader.swf',
                        server: "{:U('Home/Order/upload')}",
//                        accept: {
//                            title: 'Images',
//                            extensions: 'gif,jpg,jpeg,bmp,png',
//                            mimeTypes: 'image/*'
//                        },
                        formData:{
                            path: 'Order/retreate'
                        }
                    });
                    uploader.on( 'uploadSuccess', function( file ,res) {
                        var $list = $('.jl-imgs');
                        var length = $list.children().length;
                        if(length<3){
                            if(length===2){
                                $('.jl-upload').hide()
                            }
                            var html =
                                '<li class="jl-protocol jl-protocol-photo">\n' +
                                '<a href="javascript:;" class="a-upload">\n' +
                                '<img src="'+res[0]+'" alt="">\n' +
                                '</a>\n' +
                                '<s class="jl-remove"></s>\n' +
                                '</li>';
                            $list.append(html);
                        }
                    });
                    uploader.on( 'uploadError', function() {
                        modal.alert({
                            title:'上传失败'
                        })
                    });
                    $('.jl-imgs').on('click','.jl-remove',function () {
                        var $list = $('.jl-imgs');
                        var length = $list.children().length;
                        if(length===3){
                            $('.jl-upload').show()
                        }
                        $(this).parent().remove();
                    })
                });
                require(['Account/js/common_register']);


                $('.js-logistics').on('click',function(){
                    $('.jl-logistics-select').slideToggle();
                });


                var re_delivery_id=null;
                //选择物流
                $('.jl-logistics-select li').on('click',function(){
                    var $text=$(this).html();
                    $('.js-logistics').val($text);
                    $(this).parent().slideUp();
                    re_delivery_id=$(this).attr("data-id");
                    $('.js-logistics').parent().removeClass('js-false');
                });
                //物流单号
                $('.js-number').on('blur',function(){
                    if($(this).val()!==""){
                        $(this).parent().removeClass("js-false");
                    }else{
                        $(this).parent().addClass("js-false");
                    }
                });

                //联系电话
                var reg = /^1(3|4|5|7|8)+\d{9}$/;
                $('.js-phone').on('blur',function(){
                    var mobile=$(this).val();
                    if(!reg.test(mobile)||$(this).val()===""){
                        $(this).parent().addClass('js-false');
                    }else{
                        $(this).parent().removeClass('js-false');
                    }
                });


                require(['jl-modal'],function (modal) {
                    //提交
                    $('.jl-submit').on('click',function() {
                        var order_sn="{$data['order_sn']}";
                        var p_id="{$data['p_id']}";
                        var re_delivery_num=null;
                        var re_delivery_phone=null;
                        var re_delivery_desc=$('.js-instruction').val();

                        var re_delivery_img = new Array();
                        var $imgs = $('.jl-imgs img');
                        $.each($imgs, function (index, el) {
                            re_delivery_img[index] = $(el).attr('src');
                        });

                        //物流公司
                        if($('.js-logistics').val()==="请选择"){
                            $('.js-logistics').parent().addClass("js-false");
                            $('.js-logistics').focus();
                        }else{
                            $('.js-logistics').parent().removeClass("js-false");
                        }

                        //物流单号
                        if($('.js-number').val()===""){
                            $('.js-number').parent().addClass("js-false");
                            $('.js-number').focus();
                        }else{
                            $('.js-number').parent().removeClass("js-false");
                            re_delivery_num=$('.js-number').val();
                        }

                        //联系电话
                        if($('.js-phone').val()===""||!reg.test($('.js-phone').val())){
                            $('.js-phone').parent().addClass("js-false");
                            $('.js-phone').focus();
                        }else{
                            $('.js-phone').parent().removeClass("js-false");
                            re_delivery_phone=$('.js-phone').val();
                        }

                        //上传照片
                        // if(re_delivery_img.length===0){
                        //     modal.alert({
                        //         title: '照片不能为空',
                        //         brief: '请上传照片，照片不能为空！',
                        //         top: 100
                        //     });
                        //     return
                        // }

                        var $note=$('.jl-retreat-content .js-false').length;
                        if($note===0){
                            var data = {
                                re_sn:'{$data.retreat.re_sn}',
                                re_delivery_id:re_delivery_id,
                                re_delivery_num:re_delivery_num,
                                re_delivery_phone:re_delivery_phone,
                                re_delivery_desc:re_delivery_desc,
                                retreat_img: re_delivery_img
                            };
                            $.ajax({
                                type: 'POST',
                                url: "{:U('Home/Retreat/storeWriteDelivery')}",
                                data: data,
                                success: function (res) {
                                    if (res.status === 0) {
                                        window.location.href = "{:U('Home/Retreat/index',['re_sn'=>$data['retreat']['re_sn']])}";
                                    } else {
                                        modal.confirm({
                                            title: '系统繁忙',
                                            brief: '不好意思哦！系统繁忙，请稍后重试！',
                                            top: 100
                                        });
                                    }
                                }
                            })
                        }



                    })
                });



//                require(['jl-modal'],function (modal) {
//                    //提交
//                    $('.jl-submit').on('click',function() {
//                        var order_sn = "{$data['order_sn']}";
//                        var p_id = "{$data['p_id']}";
//                        var retreat_type = $('.jl-return-goods .jl-choose-active').parent().attr('myAttr');
//                        var cargo_status = null;
//                        if (retreat_type === '0') {
//                            cargo_status = $('.jl-logistics-state .jl-choose-active').parent().attr('myAttr');
//                        } else {
//                            cargo_status = 0;
//                        }
//                        var retreat_money = $('.js-money').val();
//                        var retreat_desc = $('.jl-retreat-desc').val();
//                        var retreat_img = new Array();
//                        var $imgs = $('.jl-imgs img');
//                        $.each($imgs, function (index, el) {
//                            retreat_img[index] = $(el).attr('src');
//                        });
//                        var data = {
//                            order_sn: order_sn,
//                            p_id: p_id,
//                            retreat_type: retreat_type,
//                            cargo_status: cargo_status,
//                            retreat_money: retreat_money,
//                            retreat_desc: retreat_desc,
//                            retreat_img: retreat_img
//                        };
//                        console.log(data);
//                        $.ajax({
//                            type: 'POST',
//                            url: "{:U('Home/Order/retreat')}",
//                            data: data,
//                            success: function (res) {
//                                if (res.status === 0) {
//                                    window.location.href = "{:U('Home/Order/retreat',['order_sn'=>$data['order_sn'], 'p_id'=>$data['p_id']])}";
//                                } else {
//                                    modal.confirm({
//                                        title: '系统繁忙',
//                                        brief: '不好意思哦！系统繁忙，请稍后重试！',
//                                        top: 100
//                                    })
//                                }
//                            }
//                        })
//
//
//                    })
//                });
            });
        });
    </script>

</block>
